.pa1, .pa2, .pa3, .pa4, .pa5, .pa6, .pa7, .pa8, .pa9 {
  background-color: #F8EA21;
  border-radius: 50%;
}
.pa1 {
  position: absolute;
  width: 6px;
  height: 6px;
  left: 15.3vw;
  top: 15.73vw;
}
.pa2 {
  position: absolute;
  width: 6px;
  height: 6px;
  left: 88.9vw;
  top: 20.17vw;
}
.pa3 {
  position: absolute;
  width: 25px;
  height: 25px;
  left: 12.9vw;
  top: 25.99vw;
}
.pa4 {
  position: absolute;
  width: 25px;
  height: 25px;
  left: 83.3vw;
  top: 15.46vw;
}
.pa5 {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 10.7vw;
  top: 17.60vw;
}
.pa6 {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 84.7vw;
  top: 26.03vw;
}
@media screen and (max-width: 1300px) {
  .pa1, .pa2, .pa3, .pa4, .pa5, .pa6, .pa7, .pa8, .pa9 {
    display: none;
  }
}

.container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 60%;
}
.row {
  display: table-row;
  text-align: center;
}
.bodytext {
  display: table-cell;
  padding: 0px 20px;
  height: 150px;
  white-space: nowrap;
  text-align: center;
  font-size: 1.35vw;
  color: #fff;
  animation: effect2 .7s cubic-bezier(.215, .61, .355, 1.000) both
}

@keyframes effect2 {
  0% {
    letter-spacing: -.5em;
    opacity: 0
  }

  40% {
    opacity: .6
  }

  100% {
    opacity: 1
  }
}

.arrow01 {
  fill: #F8EA21;
  animation: effect3 1.1s both
}

.arrow02 {
  fill: #F8EA21;
  animation: effect3 1.1s both
}

@keyframes effect3 {
  0% {
    transform: translateX(-600px);
    animation-timing-function: ease-in;
    opacity: 0
  }

  38% {
    transform: translateX(0);
    animation-timing-function: ease-out;
    opacity: 1
  }

  55% {
    transform: translateX(-68px);
    animation-timing-function: ease-in
  }

  72% {
    transform: translateX(0);
    animation-timing-function: ease-out
  }

  81% {
    transform: translateX(-28px);
    animation-timing-function: ease-in
  }

  90% {
    transform: translateX(0);
    animation-timing-function: ease-out
  }

  95% {
    transform: translateX(-8px);
    animation-timing-function: ease-in
  }

  100% {
    transform: translateX(0);
    animation-timing-function: ease-out
  }
}

@media screen and (max-width: 1300px) {
  .wrap {
  }
  .container {
    display: grid;
    grid-template-columns: 1fr;
    top: 290px;
    left: 50vw;
    transform: translateX(-50%);
  }
  .row {
    display: grid;
  }

  .bodytext {
    font-size: 16px;
    padding: 0px;
    height: 70px;
  }

  .arrow01, .arrow02 {
    display: block;
    margin: -25px auto;
    -webkit-transform: rotate(90deg) !important;
    transform: rotate(90deg) !important;
  }
}


#foxsmall {
  position: absolute;
  left: 50vw;
  top: 18.59vw;
  width: 5.15vw;
  margin-left: -2.57vw;
}


@media screen and (max-width: 1300px) {
  #foxsmall {
    top: 155.25px;
    width: 78.83px;
    margin-left: -39.415px;
  }
}

#arrow_right {
  fill: #fff;
  position: absolute;
  width: 2.14vw;
  height: 2.14vw;
  left: 56.8vw;
  top: 20.83vw;
  overflow: visible;
  cursor: pointer;
}

#arrow_right:hover {
  fill: #F8EA21;
}

#arrow_right:active {
  fill: #F8EA21;
}
#arrow_left {
  fill: #fff;
  position: absolute;
  width: 2.14vw;
  height: 2.14vw;
  left: 41.5vw;
  top: 20.83vw;
  overflow: visible;
  cursor: pointer;
}

#arrow_left:hover {
  fill: #F8EA21;
}

#arrow_left:active {
  fill: #F8EA21;
}
@media screen and (max-width: 1300px) {
  #arrow_right {
    width: 20.29px;
    height: 19.77px;
    left: 70vw;
    top: 196.47px;
  }
  #arrow_right:active {
    fill: #F8EA21;
  }
  #arrow_left {
    width: 20.29px;
    height: 19.77px;
    left: 24vw;
    top: 196.47px;
  }
  #arrow_left:active {
    fill: #F8EA21;
  }
}
