@font-face {
  font-family: 'Cafe24Dongdong';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Dongdong.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  max-width: 100vw;
  position: relative;
  height: 48.85vw;
  overflow: hidden;
  background: linear-gradient(to bottom, #002169, #001135);
  background-repeat: no-repeat;
}

@media screen and (max-width: 480px) {
  body {
    background: url('lightmobile.png'), linear-gradient(to bottom, #002169, #001135);
    background-position: 0% 0%;
    position: relative;
    height: 760px;
    overflow: hidden;
    padding-top: 0%;
    background-repeat: no-repeat;
  }
}

div {
  font-family: 'Cafe24Dongdong';
  font-weight: normal;
  font-style: normal;
}

#gtq1 {
  left: 30vw;
  top: 29.06vw;
  position: absolute;
  overflow: visible;
  white-space: nowrap;
  text-align: center;
  font-size: 1.35vw;
  color: #fff;
  animation: effect2 .7s cubic-bezier(.215, .61, .355, 1.000) both
}

@keyframes effect2 {
  0% {
    letter-spacing: -.5em;
    opacity: 0
  }

  40% {
    opacity: .6
  }

  100% {
    opacity: 1
  }
}

@media screen and (max-width: 480px) {
  #gtq1 {
    left: 50vw;
    width: 85px;
    margin-left: -42.5px;
    top: 272px;
    font-size: 14px;
  }
}

#gtq2 {
  left: 45.2vw;
  top: 29.06vw;
  position: absolute;
  overflow: visible;
  white-space: nowrap;
  text-align: center;
  font-size: 1.35vw;
  color: #fff;
  animation: effect2 .7s cubic-bezier(.215, .61, .355, 1.000) both
}

@keyframes effect2 {
  0% {
    letter-spacing: -.5em;
    opacity: 0
  }

  40% {
    opacity: .6
  }

  100% {
    opacity: 1
  }
}

@media screen and (max-width: 480px) {
  #gtq2 {
    left: 50vw;
    width: 100px;
    margin-left: -50px;
    top: 345px;
    font-size: 14px;
  }
}

#career1 {
  left: 61.6vw;
  top: 29.06vw;
  position: absolute;
  overflow: visible;
  white-space: nowrap;
  text-align: center;
  font-size: 1.35vw;
  color: #fff;
  animation: effect2 .7s cubic-bezier(.215, .61, .355, 1.000) both
}

@keyframes effect2 {
  0% {
    letter-spacing: -.5em;
    opacity: 0
  }

  40% {
    opacity: .6
  }

  100% {
    opacity: 1
  }
}

@media screen and (max-width: 480px) {
  #career1 {
    left: 50vw;
    width: 200px;
    margin-left: -100px;
    top: 420px;
    font-size: 14px;
  }
}

#academy {
  left: 35.7vw;
  top: 36.93vw;
  position: absolute;
  overflow: visible;
  white-space: nowrap;
  text-align: center;
  font-size: 1.35vw;
  color: #fff;
  animation: effect2 .7s cubic-bezier(.215, .61, .355, 1.000) both
}

@keyframes effect2 {
  0% {
    letter-spacing: -.5em;
    opacity: 0
  }

  40% {
    opacity: .6
  }

  100% {
    opacity: 1
  }
}

@media screen and (max-width: 480px) {
  #academy {
    left: 50vw;
    width: 150px;
    margin-left: -75px;
    top: 495px;
    font-size: 14px;
  }
}

#career2 {
  left: 54.8vw;
  top: 36.93vw;
  position: absolute;
  overflow: visible;
  white-space: nowrap;
  text-align: center;
  font-size: 1.35vw;
  color: #fff;
  animation: effect2 .7s cubic-bezier(.215, .61, .355, 1.000) both
}

@keyframes effect2 {
  0% {
    letter-spacing: -.5em;
    opacity: 0
  }

  40% {
    opacity: .6
  }

  100% {
    opacity: 1
  }
}

@media screen and (max-width: 480px) {
  #career2 {
    left: 50vw;
    width: 200px;
    margin-left: -100px;
    top: 576px;
    font-size: 14px;
  }
}

.arrow01 {
  fill: #F8EA21;
  overflow: visible;
  position: relative;
  width: 1.05vw;
  height: 0.70vw;
  left: 40.4vw;
  top: 29.5vw;
  margin-right: 15vw;
  animation: effect3 1.1s both
}

.arrow02 {
  fill: #F8EA21;
  overflow: visible;
  position: relative;
  width: 1.05vw;
  height: 0.70vw;
  left: -1vw;
  top: 37vw;
  margin-right: 17vw;
  animation: effect3 1.1s both
}
@keyframes effect3 {
  0% {
    transform: translateX(-600px);
    animation-timing-function: ease-in;
    opacity: 0
  }

  38% {
    transform: translateX(0);
    animation-timing-function: ease-out;
    opacity: 1
  }

  55% {
    transform: translateX(-68px);
    animation-timing-function: ease-in
  }

  72% {
    transform: translateX(0);
    animation-timing-function: ease-out
  }

  81% {
    transform: translateX(-28px);
    animation-timing-function: ease-in
  }

  90% {
    transform: translateX(0);
    animation-timing-function: ease-out
  }

  95% {
    transform: translateX(-8px);
    animation-timing-function: ease-in
  }

  100% {
    transform: translateX(0);
    animation-timing-function: ease-out
  }
}

@media screen and (max-width: 480px) {
  .arrow01 {
    width: 20.24px;
    height: 13.5px;
    left: 50vw;
    top: 317px;
    display: flex;
    margin-left: -10.12px;
    margin-bottom: 60px;
    -webkit-transform: rotate(90deg)!important;
    transform: rotate(90deg)!important;
  }
}

@media screen and (max-width: 480px) {
  .arrow02 {
    width: 20.24px;
    height: 13.5px;
    left: 50vw;
    top: 322px;
    display: flex;
    margin-left: -10.12px;
    margin-bottom: 60px;
    -webkit-transform: rotate(90deg)!important;
    transform: rotate(90deg)!important;
  }
}

.pa1 {
  position: absolute;
  overflow: visible;
  width: 0.48vw;
  height: 0.48vw;
  left: 15.3vw;
  top: 15.73vw;
  background-color: #F8EA21;
  border-radius: 100vw;
}

@media screen and (max-width: 480px) {
  .pa1 {
    display: none;
  }
}

.pa2 {
  position: absolute;
  overflow: visible;
  width: 0.48vw;
  height: 0.48vw;
  left: 88.9vw;
  top: 20.17vw;
  background-color: #F8EA21;
  border-radius: 500vw;
}

@media screen and (max-width: 480px) {
  .pa2 {
    display: none;
  }
}

.pa3 {
  position: absolute;
  overflow: visible;
  width: 1.46vw;
  height: 1.46vw;
  left: 12.9vw;
  top: 25.99vw;
  background-color: #F8EA21;
  border-radius: 100vw;
}

@media screen and (max-width: 480px) {
  .pa3 {
    display: none;
  }
}

.pa4 {
  position: absolute;
  overflow: visible;
  width: 1.46vw;
  height: 1.46vw;
  left: 83.3vw;
  top: 15.46vw;
  background-color: #F8EA21;
  border-radius: 100vw;
}

@media screen and (max-width: 480px) {
  .pa4 {
    display: none;
  }
}

.pa5 {
  position: absolute;
  overflow: visible;
  width: 0.98vw;
  height: 0.98vw;
  left: 10.7vw;
  top: 17.60vw;
  background-color: #F8EA21;
  border-radius: 100vw;
}

@media screen and (max-width: 480px) {
  .pa5 {
    display: none;
  }
}

.pa6 {
  position: absolute;
  overflow: visible;
  width: 0.98vw;
  height: 0.98vw;
  left: 84.7vw;
  top: 26.03vw;
  background-color: #F8EA21;
  border-radius: 100vw;
}

@media screen and (max-width: 480px) {
  .pa6 {
    display: none;
  }
}

.light {
  position: absolute;
  width: 100vw;
  height: auto;
  left: 0.9vw;
  top: -2.49vw;
  overflow: visible;
  display: block;
}

@media screen and (max-width: 480px) {
  .light {
    width: 767px;
    left: 50%;
    margin-left: -383.5px;
  }
}

#aboutme {
  left: 36.5vw;
  top: 13.33vw;
  position: absolute;
  text-align: center;
  text-decoration: none;
  font-size: 1.56vw;
  color: #fff;
  cursor: pointer;
}

#aboutme:hover {
  color: #F09D05;
}

#portfolio {
  left: 47.5vw;
  top: 13.33vw;
  position: absolute;
  text-align: center;
  text-decoration: none;
  font-size: 1.56vw;
  color: #fff;
  cursor: pointer;
}

#portfolio:hover {
  color: #F09D05;
}

#contact {
  left: 58.5vw;
  top: 13.33vw;
  position: absolute;
  text-align: center;
  text-decoration: none;
  font-size: 1.56vw;
  color: #fff;
  cursor: pointer;
}

#contact:hover {
  color: #F09D05;
}

#today {
  left: 68.8vw;
  top: 13.33vw;
  position: absolute;
  text-align: center;
  text-decoration: none;
  font-size: 1.56vw;
  color: #fff;
  cursor: pointer;
}

#today:hover {
  color: #F09D05;
}

@media screen and (max-width: 480px) {
  #contact {
    display: none;
  }

  #today {
    display: none;
  }

  #portfolio {
    display: none;
  }

  #aboutme {
    display: none;
  }
}

.logo {
  position: absolute;
  width: 5.39vw;
  height: 4.40vw;
  left: 48.2vw;
  top: 2.05vw;
  overflow: visible;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .logo {
    width: 60px;
    height: auto;
    left: 50%;
    margin-left: -30px;
  }
}

.overlay, .overlay-content, .overlay a,
.overlay .closebtn, .openbtn {
  display: none;
}

@media screen and (max-width: 480px) {
  .overlay {
    display: block;
    height: 760px;
    width: 0;
    position: absolute;
    z-index: 99;
    top: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
}

@media screen and (max-width: 480px) {
  .overlay-content {
    display: block;
    position: relative;
    top: 30vw;
    width: 100vw;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .overlay a {
    display: block;
    padding: 7vw;
    text-decoration: none;
    font-size: 2.25rem;
    color: #818181;
    transition: 0.3s;
  }
}

@media screen and (max-width: 480px) {
  .overlay a:hover {
    color: #fff;
  }
}

@media screen and (max-width: 480px) {
  .overlay .closebtn {
    display: block;
    position: absolute;
    top: 3vw;
    left: 8vw;
    fill: #818181;
  }
}

@media screen and (max-width: 480px) {
  .overlay .closebtn:hover {
    fill: #fff;
  }
}

@media screen and (max-width: 480px) {
  .openbtn {
    display: block;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 2vw;
    left: 87vw;
    z-index: 9;
  }
}

#foxsmall {
  position: absolute;
  left: 50vw;
  top: 18.59vw;
  width: 5.15vw;
  margin-left: -2.57vw;
}

@media screen and (max-width: 480px) {
  #foxsmall {
    top: 155.25px;
    width: 78.83px;
    margin-left: -39.415px;
  }
}

.arrow_right {
  fill: #fff;
  position: absolute;
  width: 2.14vw;
  height: 2.14vw;
  left: 56.8vw;
  top: 20.83vw;
  overflow: visible;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .arrow_right {
    width: 20.29px;
    height: 19.77px;
    left: 65vw;
    top: 196.47px;
  }
}

.arrow_right:hover {
  fill: #F8EA21;
}

.arrow_left {
  fill: #fff;
  position: absolute;
  width: 2.14vw;
  height: 2.14vw;
  left: 41.5vw;
  top: 20.83vw;
  overflow: visible;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .arrow_left {
    width: 20.29px;
    height: 19.77px;
    left: 30vw;
    top: 196.47px;
  }
}

.arrow_left:hover {
  fill: #F8EA21;
}

#footer {
  left: 37.8vw;
  top: 45.21vw;
  position: absolute;
  overflow: visible;
  width: 24.43vw;
  white-space: nowrap;
  text-align: center;
  font-size: 0.78vw;
  color: rgba(151, 164, 240, 1);
}

@media screen and (max-width: 480px) {
  #footer {
    top: 613px;
    left: 50vw;
    width: 247px;
    margin-left: -123.5px;
    font-size: 17px;
  }
}
