.pa1, .pa2, .pa3, .pa4, .pa5, .pa6, .pa7, .pa8, .pa9 {
  background-color: #F8EA21;
  border-radius: 50%;
}
.pa1 {
  position: absolute;
  width: 6px;
  height: 6px;
  left: 15.3vw;
  top: 15.73vw;
}
.pa2 {
  position: absolute;
  width: 6px;
  height: 6px;
  left: 88.9vw;
  top: 20.17vw;
}
.pa3 {
  position: absolute;
  width: 25px;
  height: 25px;
  left: 12.9vw;
  top: 25.99vw;
}
.pa4 {
  position: absolute;
  width: 25px;
  height: 25px;
  left: 83.3vw;
  top: 15.46vw;
}
.pa5 {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 10.7vw;
  top: 17.60vw;
}
.pa6 {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 84.7vw;
  top: 26.03vw;
}
@media screen and (max-width: 1300px) {
  .pa1, .pa2, .pa3, .pa4, .pa5, .pa6, .pa7, .pa8, .pa9 {
    display: none;
  }
}

#foxsmall {
  display: block;
  margin: 20px auto;
}

@media screen and (max-width: 1300px) {
  #foxsmall {
    margin-top: 155px;
    width: 74px;
  }
}

#arrow_right {
	fill: #fff;
	position: absolute;
	width: 2.14vw;
	height: 2.14vw;
	left: 56.8vw;
	top: 20.83vw;
	overflow: visible;
	cursor: pointer;
}

#arrow_right:hover {
	fill: #F8EA21;
}

#arrow_right:active {
	fill: #F8EA21;
}

#arrow_left {
	fill: #fff;
	position: absolute;
	width: 2.14vw;
	height: 2.14vw;
	left: 41.5vw;
	top: 20.83vw;
	overflow: visible;
	cursor: pointer;
}

#arrow_left:hover {
	fill: #F8EA21;
}

#arrow_left:active {
	fill: #F8EA21;
}

@media screen and (max-width: 1300px) {
	#arrow_right {
		width: 20.29px;
		height: 19.77px;
		left: 70vw;
		top: 196.47px;
	}

	#arrow_right:active {
		fill: #F8EA21;
	}

	#arrow_left {
		width: 20.29px;
		height: 19.77px;
		left: 24vw;
		top: 196.47px;
	}

	#arrow_left:active {
		fill: #F8EA21;
	}
}

#introduce {
  left: 26.9vw;
  top: 25.99vw;
  position: absolute;
  width: 46.09vw;
  display: block;
  line-height: 1.82vw;
  margin-top: -0.26vw;
  text-align: center;
  font-size: 1.30vw;
  color: #fff;
  animation: introduce 0.8s cubic-bezier(.25, .46, .45, .94) both
}

@keyframes introduce {
  0% {
    transform: translateY(52.08vw);
  }

  50% {
    transform: translateY(0vw);
  }
}
@media screen and (max-width: 1300px) {
  #introduce {
    font-size: 0.875rem;
    left: 50vw;
    top: 270px;
    width: 289px;
    margin-left: -144.5px;
    line-height: 20px;
  }
}
