.pa1, .pa2, .pa3, .pa4, .pa5, .pa6, .pa7, .pa8, .pa9 {
	background-color: #F8EA21;
	border-radius: 50%;
}

.pa1 {
	position: absolute;
	width: 6px;
	height: 6px;
	left: 15.3vw;
	top: 15.73vw;
}

.pa2 {
	position: absolute;
	width: 6px;
	height: 6px;
	left: 88.9vw;
	top: 20.17vw;
}

.pa3 {
	position: absolute;
	width: 25px;
	height: 25px;
	left: 12.9vw;
	top: 25.99vw;
}

.pa4 {
	position: absolute;
	width: 25px;
	height: 25px;
	left: 83.3vw;
	top: 15.46vw;
}

.pa5 {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 10.7vw;
	top: 17.60vw;
}

.pa6 {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 84.7vw;
	top: 26.03vw;
}

@media screen and (max-width: 1300px) {
	.pa1, .pa2, .pa3, .pa4, .pa5, .pa6, .pa7, .pa8, .pa9 {
		display: none;
	}
}

#foxsmall {
	display: block;
	margin: 20px auto;
}

@media screen and (max-width: 1300px) {
	#foxsmall {
		margin-top: 130px;
		width: 74px;
	}
}

.arrow_right {
	position: absolute;
	width: 2.14vw;
	height: 2.14vw;
	left: 56.8vw;
	top: 20.83vw;
}

.arrow_right img:hover {
	fill: #F8EA21 !important;
}

.arrow_right img:active {
	fill: #F8EA21;
}

.arrow_left {
	position: absolute;
	width: 2.14vw;
	height: 2.14vw;
	left: 41.5vw;
	top: 20.83vw;
}

.arrow_left:hover {
	fill: #F8EA21;
}

.arrow_left:active {
	fill: #F8EA21;
}

@media screen and (max-width: 1300px) {
	.arrow_right {
		width: 20.29px;
		height: 19.77px;
		left: 70%;
		top: 170px;
	}

	.arrow_right:active {
		fill: #F8EA21;
	}

	.arrow_left {
		width: 20.29px;
		height: 19.77px;
		left: 25%;
		top: 170px;
	}

	.arrow_left:active {
		fill: #F8EA21;
	}
}

#skillhead {
	/* display: block; */
	margin-top: 0px;
	white-space: nowrap;
	text-align: center;
	font-size: 25px;
	color: #fff;
}

#program-dummy {
	position: relative;
	max-width: 800px;
	margin: 0px auto;
	box-sizing: border-box;
}

.skill {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	float: left;
}

.skilltext {
	display: inline-block;
	margin: auto 0;
	white-space: nowrap;
	width: 180px;
	text-align: left;
	font-size: 40px;
	color: #fff;
}

.stick {
	margin: 20px 0;
	position: relative;
	display: inline-block;
}

.pinkbg {
	position: relative;
	width: 450px;
	height: 44px;
	background-color: #F06396;
}

.orangestick01, .orangestick02, .orangestick03, .orangestick04 {
	z-index: 1;
	position: absolute;
	height: 44px;
	top: 0;
	background-color: #F09D05;
	animation: effect4 1s cubic-bezier(0.25, 0.25, 0.75, 0.75) both;
}

@keyframes effect4 {
	0% {
		transform: scaleX(.4);
		transform-origin: 0 0
	}

	100% {
		transform: scaleX(1);
		transform-origin: 0 0
	}
}

.orangestick01 {
	width: 375px;
}

.orangestick02 {
	width: 416px;
}

.orangestick03 {
	width: 343px;
}

.orangestick04 {
	width: 416px;
}

.skillnumber {
	font-size: 40px;
	color: #fff;
	z-index: 2;
	display: inline-block;
	margin: auto 0;
}

@media screen and (max-width: 1300px) {
	#skillhead {
		margin-top: 20px;
		font-size: 15px;
	}

	#program-dummy {
		max-width: 250px;
		margin: 30px auto;
	}

	.skill {
		display: grid;
		grid-template-columns: 1fr;
		float: none;
		text-align: center;
	}

	.skilltext {
		width: 0;
		font-size: 20px;
		margin-bottom: -20px
	}

	.stick {
		margin: 20px 0;
	}

	.pinkbg {
		width: 248px;
		height: 20px;
	}

	.orangestick01, .orangestick02, .orangestick03, .orangestick04 {
		height: 20px;
	}

	.orangestick01 {
		width: 204px;
	}

	.orangestick02 {
		width: 226px;
	}

	.orangestick03 {
		width: 187px;
	}

	.orangestick04 {
		width: 226px;
	}

	.skillnumber {
		font-size: 20px;
		margin-top: -40px;
	}
}
