@font-face {
  font-family: 'Cafe24Dongdong';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Dongdong.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  max-width: 100vw;
  position: relative;
  height: 48.85vw;
  overflow: hidden;
  background: linear-gradient(to bottom, #002169, #001135);
  background-repeat: no-repeat;
}

@media screen and (max-width: 480px) {
  body {
    background: url('lightmobile.png'), linear-gradient(to bottom, #002169, #001135);
    background-position: 0% 0%;
    position: relative;
    height: 760vw;
    overflow: hidden;
    padding-top: 0%;
    background-repeat: no-repeat;
  }
}

div {
  font-family: 'Cafe24Dongdong';
  font-weight: normal;
  font-style: normal;
}

#skills {
  left: 50vw;
  top: 26.36vw;
  position: absolute;
  overflow: visible;
  width: 321px;
  margin-left: -160.5px;
  white-space: nowrap;
  text-align: center;
  font-size: 1.30vw;
  color: #fff;
}

@media screen and (max-width: 480px) {
  #skills {
    left: 50vw;
    top: 259.05px;
    width: 192px;
    margin-left: -96px;
    font-size: 15px;
  }
}

#program-dummy {
  position: relative;
  width: 33.13vw;
  height: 15.26vw;
  left: 33.3vw;
  top: 29.27vw;
  overflow: visible;
}

@media screen and (max-width: 480px) {
  #program-dummy {
    left: 50%;
    top: 305px;
    width: 248px;
    display: flex;
  }
}

#photoshop {
  position: absolute;
  width: 31.98vw;
  height: 2.29vw;
  left: 0vw;
  top: 0vw;
  overflow: visible;
  font-size: 2.08vw;
  color: #fff;
}

@media screen and (max-width: 480px) {
  #photoshop {
    top: 0px;
    font-size: 20px;
  }
}

@media screen and (max-width: 480px) {
  #photoshoptext {
    left: 50% !important;
    width: 48px;
    margin-left: -24px;
  }
}

.pinkbg {
  position: absolute;
  overflow: visible;
  width: 24.06vw;
  height: 2.24vw;
  left: 8.23vw;
  top: 0.05vw;
  background-color: #F06396;
}

@media screen and (max-width: 480px) {
  .pinkbg {
    width: 248px;
    height: 20px;
    left: 0;
    top: 26px;
    margin-left: -124px;
  }
}

.orangestick {
  position: absolute;
  overflow: visible;
  width: 19.84vw;
  height: 2.24vw;
  left: 8.23vw;
  top: 0.05vw;
  background-color: #F09D05;
  animation: effect4 1s cubic-bezier(0.25, 0.25, 0.75, 0.75) both
}

@keyframes effect4 {
  0% {
    transform: scaleX(.4);
    transform-origin: 0 0
  }

  100% {
    transform: scaleX(1);
    transform-origin: 0 0
  }
}

@media screen and (max-width: 480px) {
  .orangestick {
    width: 204px !important;
    height: 20px;
    left: 0;
    top: 26px;
    margin-left: -124px;
  }
}

#photoshop85 {
  left: 16.04vw;
  top: 0.2vw;
  position: absolute;
  overflow: visible;
  white-space: nowrap;
  text-align: center;
  font-size: 2.08vw;
  color: #fff;
}

@media screen and (max-width: 480px) {
  #photoshop85 {
    left: 8vw;
    top: 26px;
    font-size: 20px;
  }
}

#illust {
  position: absolute;
  width: 32.86vw;
  height: 2.29vw;
  left: 0vw;
  top: 4.32vw;
  overflow: visible;
  font-size: 2.08vw;
  color: #fff;
}

@media screen and (max-width: 480px) {
  #illust {
    top: 74px;
    font-size: 20px;
  }
}

@media screen and (max-width: 480px) {
  #illusttext {
    left: 50% !important;
    width: 66px;
    margin-left: -33px;
  }
}

#illust90 {
  left: 16.93vw;
  top: 0.2vw;
  position: absolute;
  overflow: visible;
  width: 4.01vw;
  white-space: nowrap;
  text-align: center;
  font-size: 2.08vw;
  color: #fff;
}

@media screen and (max-width: 480px) {
  #illust90 {
    left: 8vw;
    top: 26px;
    font-size: 20px;
  }
}

#indesign {
  position: absolute;
  width: 33.13vw;
  height: 2.29vw;
  left: 0vw;
  top: 8.65vw;
  overflow: visible;
  font-size: 2.08vw;
  color: #fff;
}

@media screen and (max-width: 480px) {
  #indesign {
    top: 165px;
    font-size: 20px;
  }
}

@media screen and (max-width: 480px) {
  #indesigntext {
    left: 50% !important;
    width: 80px;
    margin-left: -40px;
  }
}

#indesign75 {
  left: 15.93vw;
  top: 0.2vw;
  position: absolute;
  overflow: visible;
  white-space: nowrap;
  text-align: center;
  font-size: 2.08vw;
  color: #fff;
}

@media screen and (max-width: 480px) {
  #indesign75 {
    left: 8vw;
    top: 26px;
    font-size: 20px;
  }
}

#XD {
  position: absolute;
  width: 590vw;
  height: 2.29vw;
  left: 0vw;
  top: 12.97vw;
  overflow: visible;
  font-size: 2.08vw;
  color: #fff;
}

@media screen and (max-width: 480px) {
  #XD {
    top: 241px;
    font-size: 20px;
  }
}

@media screen and (max-width: 480px) {
  #XDtext {
    left: 50% !important;
    width: 24px;
    margin-left: -12px;
  }
}

#XD90 {
  left: 14.79vw;
  top: 0.2vw;
  position: absolute;
  overflow: visible;
  white-space: nowrap;
  text-align: center;
  font-size: 2.08vw;
  color: #fff;
}

@media screen and (max-width: 480px) {
  #XD90 {
    left: 8vw;
    top: 26px;
    font-size: 20px;
  }
}

.pa1 {
  position: absolute;
  overflow: visible;
  width: 0.48vw;
  height: 0.48vw;
  left: 15.3vw;
  top: 15.73vw;
  background-color: #F8EA21;
  border-radius: 100vw;
}

@media screen and (max-width: 480px) {
  .pa1 {
    display: none;
  }
}

.pa2 {
  position: absolute;
  overflow: visible;
  width: 0.48vw;
  height: 0.48vw;
  left: 88.9vw;
  top: 20.17vw;
  background-color: #F8EA21;
  border-radius: 500vw;
}

@media screen and (max-width: 480px) {
  .pa2 {
    display: none;
  }
}

.pa3 {
  position: absolute;
  overflow: visible;
  width: 1.46vw;
  height: 1.46vw;
  left: 12.9vw;
  top: 25.99vw;
  background-color: #F8EA21;
  border-radius: 100vw;
}

@media screen and (max-width: 480px) {
  .pa3 {
    display: none;
  }
}

.pa4 {
  position: absolute;
  overflow: visible;
  width: 1.46vw;
  height: 1.46vw;
  left: 83.3vw;
  top: 15.46vw;
  background-color: #F8EA21;
  border-radius: 100vw;
}

@media screen and (max-width: 480px) {
  .pa4 {
    display: none;
  }
}

.pa5 {
  position: absolute;
  overflow: visible;
  width: 0.98vw;
  height: 0.98vw;
  left: 10.7vw;
  top: 17.60vw;
  background-color: #F8EA21;
  border-radius: 100vw;
}

@media screen and (max-width: 480px) {
  .pa5 {
    display: none;
  }
}

.pa6 {
  position: absolute;
  overflow: visible;
  width: 0.98vw;
  height: 0.98vw;
  left: 84.7vw;
  top: 26.03vw;
  background-color: #F8EA21;
  border-radius: 100vw;
}

@media screen and (max-width: 480px) {
  .pa6 {
    display: none;
  }
}

.light {
  position: absolute;
  width: 100vw;
  height: auto;
  left: 0.9vw;
  top: -2.49vw;
  overflow: visible;
  display: block;
}

@media screen and (max-width: 480px) {
  .light {
    width: 767px;
    left: 50%;
    margin-left: -383.5px;
  }
}

#aboutme {
  left: 36.5vw;
  top: 13.33vw;
  position: absolute;
  text-align: center;
  text-decoration: none;
  font-size: 1.56vw;
  color: #fff;
  cursor: pointer;
}

#aboutme:hover {
  color: #F09D05;
}

#portfolio {
  left: 47.5vw;
  top: 13.33vw;
  position: absolute;
  text-align: center;
  text-decoration: none;
  font-size: 1.56vw;
  color: #fff;
  cursor: pointer;
}

#portfolio:hover {
  color: #F09D05;
}

#contact {
  left: 58.5vw;
  top: 13.33vw;
  position: absolute;
  text-align: center;
  text-decoration: none;
  font-size: 1.56vw;
  color: #fff;
  cursor: pointer;
}

#contact:hover {
  color: #F09D05;
}

#today {
  left: 68.8vw;
  top: 13.33vw;
  position: absolute;
  text-align: center;
  text-decoration: none;
  font-size: 1.56vw;
  color: #fff;
  cursor: pointer;
}

#today:hover {
  color: #F09D05;
}

@media screen and (max-width: 480px) {
  #contact {
    display: none;
  }

  #today {
    display: none;
  }

  #portfolio {
    display: none;
  }

  #aboutme {
    display: none;
  }
}

.logo {
  position: absolute;
  width: 5.39vw;
  height: 4.40vw;
  left: 48.2vw;
  top: 2.05vw;
  overflow: visible;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .logo {
    width: 60px;
    height: auto;
    left: 50%;
    margin-left: -30px;
  }
}

.overlay, .overlay-content, .overlay a,
.overlay .closebtn, .openbtn {
  display: none;
}

@media screen and (max-width: 480px) {
  .overlay {
    display: block;
    height: 760vw;
    width: 0;
    position: absolute;
    z-index: 99;
    top: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
}

@media screen and (max-width: 480px) {
  .overlay-content {
    display: block;
    position: relative;
    top: 30vw;
    width: 100vw;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .overlay a {
    display: block;
    padding: 7vw;
    text-decoration: none;
    font-size: 2.25rem;
    color: #818181;
    transition: 0.3s;
  }
}

@media screen and (max-width: 480px) {
  .overlay a:hover {
    color: #fff;
  }
}

@media screen and (max-width: 480px) {
  .overlay .closebtn {
    display: block;
    position: absolute;
    top: 3vw;
    left: 8vw;
    fill: #818181;
  }
}

@media screen and (max-width: 480px) {
  .overlay .closebtn:hover {
    fill: #fff;
  }
}

@media screen and (max-width: 480px) {
  .openbtn {
    display: block;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 2vw;
    left: 87vw;
    z-index: 9;
  }
}

#foxsmall {
  position: absolute;
  left: 50vw;
  top: 18.59vw;
  width: 5.15vw;
  margin-left: -2.57vw;
}

@media screen and (max-width: 480px) {
  #foxsmall {
    top: 155.25px;
    width: 78.83px;
    margin-left: -39.415px;
  }
}

.arrow_right {
  fill: #fff;
  position: absolute;
  width: 2.14vw;
  height: 2.14vw;
  left: 56.8vw;
  top: 20.83vw;
  overflow: visible;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .arrow_right {
    width: 20.29px;
    height: 19.77px;
    left: 65vw;
    top: 196.47px;
  }
}

.arrow_right:hover {
  fill: #F8EA21;
}

.arrow_left {
  fill: #fff;
  position: absolute;
  width: 2.14vw;
  height: 2.14vw;
  left: 41.5vw;
  top: 20.83vw;
  overflow: visible;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .arrow_left {
    width: 20.29px;
    height: 19.77px;
    left: 30vw;
    top: 196.47px;
  }
}

.arrow_left:hover {
  fill: #F8EA21;
}

#footer {
  left: 37.8vw;
  top: 45.21vw;
  position: absolute;
  overflow: visible;
  width: 24.43vw;
  white-space: nowrap;
  text-align: center;
  font-size: 0.78vw;
  color: rgba(151, 164, 240, 1);
}

@media screen and (max-width: 480px) {
  #footer {
    top: 613px;
    left: 50vw;
    width: 247px;
    margin-left: -123.5px;
    font-size: 17px;
  }
}
