.pa1, .pa2, .pa3, .pa4, .pa5, .pa6, .pa7, .pa8, .pa9 {
	background-color: #F8EA21;
	border-radius: 50%;
}

.pa1 {
	position: absolute;
	width: 6px;
	height: 6px;
	left: 15.3vw;
	top: 15.73vw;
}

.pa2 {
	position: absolute;
	width: 6px;
	height: 6px;
	left: 88.9vw;
	top: 20.17vw;
}

.pa3 {
	position: absolute;
	width: 25px;
	height: 25px;
	left: 12.9vw;
	top: 25.99vw;
}

.pa4 {
	position: absolute;
	width: 25px;
	height: 25px;
	left: 83.3vw;
	top: 15.46vw;
}

.pa5 {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 10.7vw;
	top: 17.60vw;
}

.pa6 {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 84.7vw;
	top: 26.03vw;
}

@media screen and (max-width: 1300px) {
	.pa1, .pa2, .pa3, .pa4, .pa5, .pa6, .pa7, .pa8, .pa9 {
		display: none;
	}
}
.wrap {
  position: relative;
  max-width: 850px;
  margin: 0 auto;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 50px;
}
form {
  text-align: left;
}
label {
  font-size: 25px;
  color: #fff;
  float: : left !important;
  margin-right: 10px;
  white-space: nowrap;
}
label:after {
  content: "*";
  color: #fff;
}
input, input[type="text"], input[type="tel"], input[type="email"] {
  width: 820px;
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  outline-style: none;
  margin-bottom: 30px;
  font-family: 'Cafe24Dongdong';
  font-size: 24px;
  color: #fff;
  text-align: left;
}
::placeholder {
  font-size: 15px;
  color: #97A4F0;
}
textarea {
  border: 1px solid #fff;
  background: none;
  width: 820px;
  height: 160px;
  border-radius: 5px;
  font-family: 'Cafe24Dongdong';
  font-size: 24px;
  color: #fff;
  padding: 10px;
}
textarea::placeholder {
  font-size: 15px;
  color: #97A4F0;
}

#my-form-button {
  display: block;
  font-size: 24px;
  font-family: 'Cafe24Dongdong';
  color: #fff;
  border: none;
  background: none;
  cursor: pointer;
  margin: 12px auto;
  float: right !important;
}
.emailcontent {
  font-size: 14px;
  font-family: 'Cafe24Dongdong';
  color: #F8EA21;
  margin-top: -40px;
  text-align: left;
}
@media screen and (max-width: 1300px) {
  .wrap {
    max-width: 300px;
    margin-top: 150px;
  }
  label {
    font-size: 15px;
  }
  input, input[type="text"], input[type="tel"], input[type="email"] {
    width: 290px;
    font-size: 14px;
  }
  ::placeholder {
    font-size: 12px;
  }
  textarea {
    width: 300px;
    height: 160px;
    font-size: 14px;
    box-sizing: border-box;
  }
  textarea::placeholder {
    font-size: 12px;
  }

  #my-form-button {
    font-size: 14px;
  }
}
