.pa1, .pa2, .pa3, .pa4, .pa5, .pa6, .pa7, .pa8, .pa9 {
  background-color: #F8EA21;
  border-radius: 50%;
  animation: circle 1s infinite alternate;
}
.pa1 {
  position: absolute;
  width: 9px;
  height: 9px;
  left: 12%;
  top: 288px;
}
.pa2 {
  position: absolute;
  width: 9px;
  height: 9px;
  left: 58%;
  top: 367px;
}
.pa3 {
  position: absolute;
  width: 9px;
  height: 9px;
  left: 90%;
  top: 288px;
}
.pa4 {
  position: absolute;
  width: 28px;
  height: 28px;
  left: 16%;
  top: 401px;
}
.pa5 {
  position: absolute;
  width: 28px;
  height: 28px;
  left: 48%;
  top: 408px;
}
.pa6 {
  position: absolute;
  width: 28px;
  height: 28px;
  left: 89%;
  top: 481px;
}
.pa7 {
  position: absolute;
  width: 19px;
  height: 19px;
  left: 55%;
  top: 490px;
}
.pa8 {
  position: absolute;
  width: 19px;
  height: 19px;
  left: 11%;
  top: 510px;
}
.pa9 {
  position: absolute;
  width: 19px;
  height: 19px;
  left: 87%;
  top: 320px;
}
@keyframes circle {
  0% {
    transform: scale(1)
  }

  100% {
    transform: scale(2)
  }
}

@media screen and (max-width: 1300px) {
  .pa2, .pa5, .pa7   {
    display: none;
  }
  .pa1 {
    width: 10.8px;
    height: 10.8px;
    left: 10%;
    top: 130px;
  }
  .pa3 {
    width: 10.8px;
    height: 10.8px;
    left: 80%;
    top: 150px;
  }
  .pa4 {
    width: 9.2px;
    height: 9.2px;
    left: 75%;
    top: 250px;
  }
  .pa6 {
    width: 9.2px;
    height: 9.2px;
    left: 20%;
    top: 250px;
  }
  .pa8 {
    width: 18px;
    height: 18px;
    left: 85%;
    top: 350px;
  }
  .pa9 {
    position: absolute;
    width: 14.8px;
    height: 14.8px;
    left: 10%;
    top: 300px;
  }
}

#fox {
  position: absolute;
  width: 420px;
  height: 480px;
  left: 57%;
  top: 384px;
  background-image: url('../image/fox.png');
  background-size: cover;
}

@media screen and (max-width: 1300px) {
  #fox {
    width: 198.53px;
    height: 227.96px;
    top: 57.2%;
    left: 50%;
    transform: translateX(-50%);
  }
}

#eyer {
  position: absolute;
  width: 37px;
  height: 37px;
  left: 270px;
  top: 285px;
  animation: blink 3s infinite;
}

@keyframes blink {

  0%,
  45%,
  55%,
  10% {
    transform: rotateX(0deg);
  }

  50% {
    transform: rotateX(80deg);
  }
}

.whiteeyer {
  position: absolute;
  width: 37px;
  height: 37px;
  left: 0;
  top: 0;
  background-color: #fff;
  border-radius: 50%;
}

.blackeyer {
  position: absolute;
  width: 27px;
  height: 32px;
  left: 0;
  top: 3px;
  background-color: #000;
  border-radius: 50%;
}

@media screen and (max-width: 1300px) {
  #eyer {
    top: 136px;
    left: 54px;
    width: 17.62px;
    height: 17.62px;
  }

  .whiteeyer {
    width: 17.62px;
    height: 17.62px;
    left: 73px;
    top: 0;
  }

  .blackeyer {
    width: 12.94px;
    height: 14.99px;
    left: 73px;
    top: 2px;
  }
}

#eyel {
  position: absolute;
  width: 37px;
  height: 37px;
  left: 116px;
  top: 285px;
  animation: blink 3s infinite;
}

@keyframes blink {

  0%,
  45%,
  55%,
  100% {
    transform: rotateX(0deg);
  }

  50% {
    transform: rotateX(80deg);
  }
}

.whiteeyel {
  position: absolute;
  width: 37px;
  height: 37px;
  left: 0;
  top: 0;
  background-color: #fff;
  border-radius: 50%;
}

.blackeyel {
  position: absolute;
  width: 27px;
  height: 32px;
  left: 10px;
  top: 3px;
  background-color: #000;
  border-radius: 50%;
}

@media screen and (max-width: 1300px) {
  #eyel {
    top: 136px;
    left: 54px;
    width: 17.62px;
    height: 17.62px;
  }

  .whiteeyel {
    width: 17.62px;
    height: 17.62px;
    left: 0;
    top: 0;
  }

  .blackeyel {
    width: 12.94px;
    height: 14.99px;
    left: 5px;
    top: 2px;
  }
}

.head {
position: absolute;
top: 55px;
}
#DREAMS, #COME, #TRUE {
  -webkit-animation: head_ani .8s cubic-bezier(.25, .46, .45, .94) both;
  animation: head_ani .8s cubic-bezier(.25, .46, .45, .94) both;

}
#DREAMS {
  left: 22.5vw;
  top: 384px;
  position: absolute;
  text-align: center;
  font-size: 114px;
  color: #00BDA4;
}

@-webkit-keyframes head_ani {
  0% {
    letter-spacing: -.5em;
    -webkit-filter: blur(0.63%);
    filter: blur(0.63%);
    opacity: 0
  }

  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1
  }
}

#COME {
  left: 27.7vw;
  top: 538px;
  position: absolute;
  text-align: center;
  font-size:81px;
  color: #fff;
  -webkit-animation: head_ani .8s cubic-bezier(.25, .46, .45, .94) both;
  animation: head_ani .8s cubic-bezier(.25, .46, .45, .94) both;
}

@-webkit-keyframes head_ani {
  0% {
    letter-spacing: -.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0
  }

  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1
  }
}
#TRUE {
  position: absolute;
  left: 22.7vw;
  top: 653px;
  text-align: center;
  font-size: 168px;
  color: #F8EA21;
  -webkit-animation: head_ani .8s cubic-bezier(.25, .46, .45, .94) both;
  animation: head_ani .8s cubic-bezier(.25, .46, .45, .94) both;
}

@-webkit-keyframes head_ani {
  0% {
    letter-spacing: -.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0
  }

  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1
  }
}

@media screen and (max-width: 1300px) {
  .head {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  #DREAMS {
    top: 118px !important;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3.375rem;
  }

  #COME {
    top: 188px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.438rem;
  }

  #TRUE {
    top: 238px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 5.063rem;
  }
}
