@font-face {
  font-family: 'Cafe24Dongdong';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Dongdong.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  max-width: 100vw;
  background: linear-gradient(to bottom, #002169, #001135);
  position: relative;
  height: auto;
  overflow: hidden;
  padding-top: 49vw;
  background-repeat: no-repeat;
}

@media screen and (max-width: 767px) {
  body {
    background: url('lightmobile.png'), linear-gradient(to bottom, #002169, #001135);
    background-position: 0vw 0vw;
    position: relative;
    height: 643px;
    overflow: hidden;
    padding-top: 0vw;
    background-repeat: no-repeat;
  }
}

div {
  font-family: 'Cafe24Dongdong';
  font-weight: normal;
  font-style: normal;
}

.pa1 {
  position: absolute;
  overflow: visible;
  width: 0.49vw;
  height:0.49vw;
  left: 12vw;
  top: 31vw;
  background-color: #F8EA21;
  border-radius: 50vw;
  animation: circle 1s infinite alternate;
}

@keyframes circle {
  0vw {
    transform: scale(1)
  }

  100vw {
    transform: scale(2)
  }
}

@media screen and (max-width: 767px) {
  .pa1 {
    transform: translate(0vw, 0vw) scale(0.5, 0.5);
  }
}

.pa2 {
  position: absolute;
  overflow: visible;
  width: 0.48vw;
  height: 0.48vw;
  left: 58vw;
  top: 39.2vw;
  background-color: #F8EA21;
  border-radius: 50vw;
  animation: circle 1s infinite alternate;
}

@keyframes circle {
  0vw {
    transform: scale(1)
  }

  100vw {
    transform: scale(2)
  }
}

@media screen and (max-width: 767px) {
  .pa2 {
    display: none;
  }
}

.pa3 {
  position: absolute;
  width: 0.48vw;
  height:0.48vw;
  left: 91vw;
  top: 31vw;
  background-color: #F8EA21;
  border-radius: 50vw;
  animation: circle 1s infinite alternate;
}

@keyframes circle {
  0vw {
    transform: scale(1)
  }

  100vw {
    transform: scale(2)
  }
}

@media screen and (max-width: 767px) {
  .pa3 {
    transform: translate(0vw, 0vw) scale(0.5, 0.5);
  }
}

.pa4 {
  position: absolute;
  width: 1.45vw;
  height: 1.45vw;
  left: 16vw;
  top: 43vw;
  background-color: #F8EA21;
  border-radius: 50vw;
  animation: circle 1s infinite alternate;
}

@media screen and (max-width: 767px) {
  .pa4 {
    transform: translate(0vw, 0vw) scale(0.5, 0.5);
  }
}

@keyframes circle {
  0vw {
    transform: scale(1)
  }

  100vw {
    transform: scale(2)
  }
}

.pa5 {
  position: absolute;
  width: 1.46vw;
  height: 1.46vw;
  left: 53vw;
  top: 40.6vw;
  background-color: #F8EA21;
  border-radius: 50vw;
  animation: circle 1s infinite alternate;
}

@media screen and (max-width: 767px) {
  .pa5 {
    display: none;
  }
}

@keyframes circle {
  0vw {
    transform: scale(1)
  }

  100vw {
    transform: scale(2)
  }
}

.pa6 {
  position: absolute;
  width:  1.46vw;
  height:  1.46vw;
  left: 89vw;
  top: 52vw;
  background-color: #F8EA21;
  border-radius: 50vw;
  animation: circle 1s infinite alternate;
}

@keyframes circle {
  0vw {
    transform: scale(1)
  }

  100vw {
    transform: scale(2)
  }
}

@media screen and (max-width: 767px) {
  .pa6 {
    transform: translate(0vw, 0vw) scale(0.5, 0.5);
  }
}

.pa7 {
  position: absolute;
  width: 0.98vw;
  height: 0.98vw;
  left: 52vw;
  top: 55vw;
  background-color: #F8EA21;
  border-radius: 50vw;
  animation: circle 1s infinite alternate;
}

@keyframes circle {
  0vw {
    transform: scale(0.5)
  }

  100vw {
    transform: scale(1)
  }
}

@media screen and (max-width: 767px) {
  .pa7 {
    display: none;
  }
}

.pa8 {
  position: absolute;
  width: 0.98vw;
  height: 0.98vw;
  left: 11vw;
  top: 53vw;
  background-color: #F8EA21;
  border-radius: 50vw;
  animation: circle 1s infinite alternate;
}

@keyframes circle {
  0vw {
    transform: scale(0.5)
  }

  100vw {
    transform: scale(1)
  }
}

@media screen and (max-width: 767px) {
  .pa8 {
    transform: translate(0vw, 0vw) scale(0.5, 0.5);
  }
}

.pa9 {
  position: absolute;
  width: 0.98vw;
  height: 0.98vw;
  left: 87vw;
  top: 35vw;
  background-color: #F8EA21;
  border-radius: 50vw;
  animation: circle 1s infinite alternate;
}

@keyframes circle {
  0vw {
    transform: scale(0.5)
  }

  100vw {
    transform: scale(1)
  }
}

@media screen and (max-width: 767px) {
  .pa9 {
    transform: translate(0vw, 0vw) scale(0.5, 0.5);
  }
}

#fox {
  position: absolute;
  width: 21.85vw;
  height:25.08vw;
  left: 57.2vw;
  top: 37.9vw;
  overflow: visible;
  background-image: url('../image/fox.png');
}

@media screen and (max-width: 767px) {
  #fox {
    transform: translate(-55vw, -2vw) scale(0.5, 0.5);
  }
}

#eyer {
  position: absolute;
  width: 1.94vw;
  height: 1.94vw;
  left: 64vw;
  top: 60vw;
  overflow: visible;
  animation: blink 3s infinite;
}

@keyframes blink {

  0vw,
  45vw,
  55vw,
  100vw {
    transform: rotateX(0deg);
  }

  50vw {
    transform: rotateX(80deg);
  }
}

.whiteeyer {
  position: absolute;
  overflow: visible;
  width: 1.94vw;
  height: 1.94vw;
  left: 0vw;
  top: 0vw;
  background-color: #fff;
  border-radius: 50vw;
}

.blackeyer {
  position: absolute;
  overflow: visible;
  width: 1.42vw;
  height: 1.65vw;
  left: 0vw;
  top: 0.16vw;
  background-color: #000;
  border-radius: 50vw;
}

#eyel {
  position: absolute;
  width: 1.94vw;
  height: 1.94vw;
  left: 28vw;
  top: 60vw;
  animation: blink 3s infinite;
}

@keyframes blink {

  0vw,
  45vw,
  55vw,
  100vw {
    transform: rotateX(0deg);
  }

  50vw {
    transform: rotateX(80deg);
  }
}

.whiteeyel {
  position: absolute;
  overflow: visible;
  width: 1.94vw;
  height: 1.94vw;
  left: 0vw;
  top: 0vw;
  background-color: #fff;
  border-radius: 50vw;
}

.blackeyel {
  position: absolute;
  overflow: visible;
  width: 1.42vw;
  height: 1.65vw;
  left: 0.52vw;
  top: 0.16vw;
  background-color: #000;
  border-radius: 50vw;
}

#DREAMS {
  left: 20vw;
  top: 40vw;
  position: absolute;
  overflow: visible;
  text-align: center;
  font-size: 8.33vw;
  color: #00BDA4;
  -webkit-animation: DREAMS .8s cubic-bezier(.25, .46, .45, .94) both;
  animation: DREAMS .8s cubic-bezier(.25, .46, .45, .94) both;
}

@-webkit-keyframes DREAMS {
  0vw {
    letter-spacing: -.5em;
    -webkit-filter: blur(0.63vw);
    filter: blur(0.63vw);
    opacity: 0
  }

  100vw {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1
  }
}

@keyframes DREAMS {
  0vw {
    letter-spacing: -.5em;
    -webkit-filter: blur(0.63vw);
    filter: blur(0.63vw);
    opacity: 0
  }

  100vw {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1
  }
}

@media screen and (max-width: 767px) {
  #DREAMS {
    transform: translate(-30vw, -105vw) scale(0.4, 0.4);
  }
}

#COME {
  left: 27.7vw;
  top: 57vw;
  position: absolute;
  overflow: visible;
  text-align: center;
  font-size: 5.21vw;
  color: #fff;
  -webkit-animation: COME .8s cubic-bezier(.25, .46, .45, .94) both;
  animation: COME .8s cubic-bezier(.25, .46, .45, .94) both;
}

@-webkit-keyframes COME {
  0vw {
    letter-spacing: -.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0
  }

  100vw {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1
  }
}

@keyframes COME {
  0vw {
    letter-spacing: -.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0
  }

  100vw {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1
  }
}

@media screen and (max-width: 767px) {
  #COME {
    transform: translate(-15vw, -180vw) scale(0.5, 0.5);
  }
}

#TRUE {
  position: absolute;
  left: 22.7vw;
  top: 66.3vw;
  text-align: center;
  font-size: 10.16vw;
  color: #F8EA21;
  -webkit-animation: TRUE .8s cubic-bezier(.25, .46, .45, .94) both;
  animation: TRUE .8s cubic-bezier(.25, .46, .45, .94) both;
}

@-webkit-keyframes TRUE {
  0vw {
    letter-spacing: -.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0
  }

  100vw {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1
  }
}

@keyframes TRUE {
  0vw {
    letter-spacing: -.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0
  }

  100vw {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1
  }
}

@media screen and (max-width: 767px) {
  #TRUE {
    transform: translate(-27vw, -110vw) scale(0.4, 0.4);
  }
}

.light {
  position: absolute;
  width: 100vw;
  height: auto;
  left: 0.9vw;
  top: -5.1vw;
  overflow: visible;
  display: block;
}

@media screen and (max-width: 767px) {
  .light {
    display: none;
  }
}

#aboutme {
  left: 36.5vw;
  top: 27.7vw;
  position: absolute;
  text-align: center;
  text-decoration: none;
  font-size: 1.56vw;
  color: #fff;
  cursor: pointer;
}

#aboutme:hover {
  color: #F09D05;
}

#portfolio {
  left: 47.5vw;
  top: 27.7vw;
  position: absolute;
  text-align: center;
  text-decoration: none;
  font-size: 1.56vw;
  color: #fff;
  cursor: pointer;
}

#portfolio:hover {
  color: #F09D05;
}

#contact {
  left: 58.5vw;
  top: 27.7vw;
  position: absolute;
  text-align: center;
  text-decoration: none;
  font-size: 1.56vw;
  color: #fff;
  cursor: pointer;
}

#contact:hover {
  color: #F09D05;
}

#today {
  left: 68.8vw;
  top: 27.7vw;
  position: absolute;
  text-align: center;
  text-decoration: none;
  font-size: 1.56vw;
  color: #fff;
  cursor: pointer;
}

#today:hover {
  color: #F09D05;
}

@media screen and (max-width: 767px) {
  #contact {
    display: none;
  }

  #today {
    display: none;
  }

  #portfolio {
    display: none;
  }

  #aboutme {
    display: none;
  }
}

.logo {
  position: absolute;
  height: auto;
  width: 5.39vw;
  height: 4.40vw;
  left: 48.2vw;
  top: 4.2vw;
  overflow: visible;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .logo {
    transform: translate(-40vw, -47vw) scale(0.6, 0.6);
  }
}

.overlay, .overlay-content, .overlay a,
.overlay .closebtn, .openbtn {
  display: none;
}

@media screen and (max-width: 767px) {
  .overlay {
    display: block;
    height: 100vw;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
}

@media screen and (max-width: 767px) {
  .overlay-content {
    display: block;
    position: relative;
    top: 25vw;
    width: 100vw;
    text-align: center;
    margin-top: 1.56vw;
  }
}

@media screen and (max-width: 767px) {
  .overlay a {
    display: block;
    padding: 0.42vw;
    text-decoration: none;
    font-size: 2.25rem;
    color: #818181;
    transition: 0.3s;
  }
}

@media screen and (max-width: 767px) {
  .overlay a:hover {
    color: #fff;
  }
}

@media screen and (max-width: 767px) {
  .overlay .closebtn {
    display: block;
    position: absolute;
    top: 3vw;
    left: 8vw;
    fill: #818181;
  }
}

@media screen and (max-width: 767px) {
  .overlay .closebtn:hover {
    fill: #fff;
  }
}

@media screen and (max-width: 767px) {
  .openbtn {
    display: block;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 2vw;
    left: 87vw;
  }
}

#footer {
  left: 37.8vw;
  top: 95vw;
  position: absolute;
  overflow: visible;
  width: 24.43vw;
  white-space: nowrap;
  text-align: center;
  font-size: 1.04vw;
  color: rgba(151, 164, 240, 1);
}

@media screen and (max-width: 767px) {
  #footer {
    font-size: 50vw;
    transform: translate(-39vw, -5vw);
  }
}
