.pa1, .pa2, .pa3, .pa4, .pa5, .pa6, .pa7, .pa8, .pa9 {
	background-color: #F8EA21;
	border-radius: 50%;
}

.pa1 {
	position: absolute;
	width: 6px;
	height: 6px;
	left: 15.3vw;
	top: 15.73vw;
}

.pa2 {
	position: absolute;
	width: 6px;
	height: 6px;
	left: 88.9vw;
	top: 20.17vw;
}

.pa3 {
	position: absolute;
	width: 25px;
	height: 25px;
	left: 12.9vw;
	top: 25.99vw;
}

.pa4 {
	position: absolute;
	width: 25px;
	height: 25px;
	left: 83.3vw;
	top: 15.46vw;
}

.pa5 {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 10.7vw;
	top: 17.60vw;
}

.pa6 {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 84.7vw;
	top: 26.03vw;
}

@media screen and (max-width: 1300px) {
	.pa1, .pa2, .pa3, .pa4, .pa5, .pa6, .pa7, .pa8, .pa9 {
		display: none;
	}
}

.wrap {
	max-width: 600px;
	margin: 0 auto;
	box-sizing: border-box;
}

.bxslider {
	position: relative;
	width: 591px;
	margin: 0 auto;
	text-align: center;
	box-sizing: border-box;
}

.bx-wrapper {
	margin: 50px auto;
	background: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	border: none !important;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	background: #fff !important;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
	background: #F8EA21 !important;
}

.pic, .pic1 {
	overflow: hidden;
	position: relative;
}

.bxslider .slider_container:hover .pic::before,
.bxslider .slider_container:hover .pic1::before {
	background: rgba(0, 0, 0, 0.8);
	border-radius: 22px;
	content: "";
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	animation: hoverbg 1s forwards;
}

@keyframes hoverbg {
	from {
		opacity: 0;
		width: 0;
	}

	to {
		opacity: 1;
		width: 100%;
	}
}

.bxslider .slider_container:hover .pic:after {
	content: "Hans Renewal\A Design & Publishing\A 2021.05.30\A Go Visit";
	white-space: pre;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	font-size: 26px;
	line-height: 35px;
	color: #fff;
	text-align: center;
	margin-left: -130px;
	margin-top: -50px;
	animation: hoverbtn 1s forwards;
}

.bxslider .slider_container:hover .pic1:after {
	content: "Daechang Motors Agency\A Website(OnePage)\A Design & Publishing\A 2021.03.15\A Go Visit";
	white-space: pre;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	line-height: 35px;
	text-align: center;
	margin-left: -150px;
	margin-top: -80px;
	font-size: 26px;
	color: #fff;
	animation: hoverbtn 1s forwards;
}

@keyframes hoverbtn {
	from {
		opacity: 0;
		margin-top: -10px;
	}

	to {
		opacity: -30px;
	}
}

.plan {
	display: block;
	float: right;
	margin-top: 10px;
	fill: #fff;
}

.plan:hover,
.plan:active {
	fill: #F8EA21;
}
.mobile_text {
	display: none;
}
@media screen and (max-width: 1300px) {
	.wrap {
		max-width: 280px;
	}
	.bx-viewport {
		height: 400px;
		width: 100%;
	}
	.bx-wrapper .bx-next,
	.bx-wrapper .bx-prev {
		margin-top: -190px !important;
		z-index: -99 !important;
	}
	.bxslider {
		width: 232px;
		height: 500px;
	}

	.slider_container {
		height: 500px;
	}

	.bx-wrapper .bx-pager {
		padding-top: 0 !important;
		top: 180px !important;
	}

	.bx-wrapper {
		margin: 180px auto;
	}
	.pic, .pic1 {
		width: 232px;
		margin: 0 auto;
		overflow: visible;
	}

	.bxslider .slider_container:hover .pic::before,
	.bxslider .slider_container:hover .pic1::before {
		background: none;
	}

	.bxslider .slider_container:hover .pic::after,
	.bxslider .slider_container:hover .pic1::after {
		content:"";
	}
	.plan {
		float: none;
		margin: 10px;
	}
	.plan:hover {
		fill: #fff;
	}
	.mobile_text {
		display: inline-block !important;
		font-size: 17px !important;
		color: #fff;
		line-height: 27px;
		margin-top: 50px;
	}
}
