.pa1 {
  position: absolute;
  overflow: visible;
  width: 0.48vw;
  height: 0.48vw;
  left: 15.3vw;
  top: 15.73vw;
  background-color: #F8EA21;
  border-radius: 100vw;
}

@media screen and (max-width: 480px) {
  .pa1 {
    display: none;
  }
}

.pa2 {
  position: absolute;
  overflow: visible;
  width: 0.48vw;
  height: 0.48vw;
  left: 88.9vw;
  top: 20.17vw;
  background-color: #F8EA21;
  border-radius: 500vw;
}

@media screen and (max-width: 480px) {
  .pa2 {
    display: none;
  }
}

.pa3 {
  position: absolute;
  overflow: visible;
  width: 1.46vw;
  height: 1.46vw;
  left: 12.9vw;
  top: 25.99vw;
  background-color: #F8EA21;
  border-radius: 100vw;
}

@media screen and (max-width: 480px) {
  .pa3 {
    display: none;
  }
}

.pa4 {
  position: absolute;
  overflow: visible;
  width: 1.46vw;
  height: 1.46vw;
  left: 83.3vw;
  top: 15.46vw;
  background-color: #F8EA21;
  border-radius: 100vw;
}

@media screen and (max-width: 480px) {
  .pa4 {
    display: none;
  }
}

.pa5 {
  position: absolute;
  overflow: visible;
  width: 0.98vw;
  height: 0.98vw;
  left: 10.7vw;
  top: 17.60vw;
  background-color: #F8EA21;
  border-radius: 100vw;
}

@media screen and (max-width: 480px) {
  .pa5 {
    display: none;
  }
}

.pa6 {
  position: absolute;
  overflow: visible;
  width: 0.98vw;
  height: 0.98vw;
  left: 84.7vw;
  top: 26.03vw;
  background-color: #F8EA21;
  border-radius: 100vw;
}

@media screen and (max-width: 480px) {
  .pa6 {
    display: none;
  }
}


.box {
  position: absolute;
  width: 30.78vw;
  height: 17.86vw;
  left: 35.4vw;
  top: 19.47vw;
  display: block;
}

.visit {
  position: absolute;
  width: 30.78vw;
  height: 17.86vw;
  left: 0vw;
  top: 0vw;
  border-radius: 1.15vw;
  transition: all .3s ease;
  -moz-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  opacity: 0;
  text-decoration: none;
}

.visittext {
  position: absolute;
  left: 15.5vw;
  top: 6vw;
  font-size: 1.35vw;
  color: #fff;
  width: 18.33vw;
  margin-left: -9.165vw;
  text-align: center;
}

.bg {
  background-image: url("../image/dcsyweb.png");
  background-size: cover;
}

.visit:hover {
  background: rgba(0, 0, 0, .7);
  opacity: 1;
}

@media screen and (max-width: 480px) {
  .box {
    width: 231px;
    height: 135px;
    left: 50%;
    top: 193px;
    margin-left: -115.5px;
    border-radius: 16px;
  }

  .visit {
    width: 231px;
    height: 135px;
    left: 0px;
    top: 0px;
    border-radius: 16px;
  }

  .visittext {
    position: absolute;
    margin-left: -108px;
    width: 216px;
    left: 50%;
    top: 52px;
    font-size: 12px;
  }
}

.plan {
  width: 5.34vw;
  height: 1.10vw;
  left: 60vw;
  top: 38vw;
  position: absolute;
  overflow: visible;
  fill: #fff;
}

.plan:hover {
  fill: #F8EA21;
}

.plan:active {
  fill: #F8EA21;
}

@media screen and (max-width: 480px) {
  .plan svg {
    left: 60vw;
    top: 340px;
    width: 61px;
    height: 12.28px;
    position: fixed;
  }
}

@media screen and (max-width: 480px) {
  .plan:hover {
    fill: #fff;
  }
}
