@font-face {
  font-family: 'Cafe24Dongdong';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Dongdong.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  max-width: 100vw;
  position: relative;
  height: 48.85vw;
  overflow: hidden;
  background: linear-gradient(to bottom, #002169, #001135);
  background-repeat: no-repeat;
}

@media screen and (max-width: 480px) {
  body {
    background: url('lightmobile.png'), linear-gradient(to bottom, #002169, #001135);
    background-position: 0% 0%;
    position: relative;
    height: 760vw;
    overflow: hidden;
    padding-top: 0%;
    background-repeat: no-repeat;
  }
}

div {
  font-family: 'Cafe24Dongdong';
  font-weight: normal;
  font-style: normal;
}

.pa1 {
  position: absolute;
  overflow: visible;
  width: 0.48vw;
  height: 0.48vw;
  left: 15.3vw;
  top: 15.73vw;
  background-color: #F8EA21;
  border-radius: 100vw;
}

@media screen and (max-width: 480px) {
  .pa1 {
    display: none;
  }
}

.pa2 {
  position: absolute;
  overflow: visible;
  width: 0.48vw;
  height: 0.48vw;
  left: 88.9vw;
  top: 20.17vw;
  background-color: #F8EA21;
  border-radius: 500vw;
}

@media screen and (max-width: 480px) {
  .pa2 {
    display: none;
  }
}

.pa3 {
  position: absolute;
  overflow: visible;
  width: 1.46vw;
  height: 1.46vw;
  left: 12.9vw;
  top: 25.99vw;
  background-color: #F8EA21;
  border-radius: 100vw;
}

@media screen and (max-width: 480px) {
  .pa3 {
    display: none;
  }
}

.pa4 {
  position: absolute;
  overflow: visible;
  width: 1.46vw;
  height: 1.46vw;
  left: 83.3vw;
  top: 15.46vw;
  background-color: #F8EA21;
  border-radius: 100vw;
}

@media screen and (max-width: 480px) {
  .pa4 {
    display: none;
  }
}

.pa5 {
  position: absolute;
  overflow: visible;
  width: 0.98vw;
  height: 0.98vw;
  left: 10.7vw;
  top: 17.60vw;
  background-color: #F8EA21;
  border-radius: 100vw;
}

@media screen and (max-width: 480px) {
  .pa5 {
    display: none;
  }
}

.pa6 {
  position: absolute;
  overflow: visible;
  width: 0.98vw;
  height: 0.98vw;
  left: 84.7vw;
  top: 26.03vw;
  background-color: #F8EA21;
  border-radius: 100vw;
}

@media screen and (max-width: 480px) {
  .pa6 {
    display: none;
  }
}

.light {
  position: absolute;
  width: 100vw;
  height: auto;
  left: 0.9vw;
  top: -2.49vw;
  overflow: visible;
  display: block;
}

@media screen and (max-width: 480px) {
  .light {
    width: 767px;
    left: 50%;
    margin-left: -383.5px;
  }
}

#aboutme {
  left: 36.5vw;
  top: 13.33vw;
  position: absolute;
  text-align: center;
  text-decoration: none;
  font-size: 1.56vw;
  color: #fff;
  cursor: pointer;
}

#aboutme:hover {
  color: #F09D05;
}

#portfolio {
  left: 47.5vw;
  top: 13.33vw;
  position: absolute;
  text-align: center;
  text-decoration: none;
  font-size: 1.56vw;
  color: #fff;
  cursor: pointer;
}

#portfolio:hover {
  color: #F09D05;
}

#contact {
  left: 58.5vw;
  top: 13.33vw;
  position: absolute;
  text-align: center;
  text-decoration: none;
  font-size: 1.56vw;
  color: #fff;
  cursor: pointer;
}

#contact:hover {
  color: #F09D05;
}

#today {
  left: 68.8vw;
  top: 13.33vw;
  position: absolute;
  text-align: center;
  text-decoration: none;
  font-size: 1.56vw;
  color: #fff;
  cursor: pointer;
}

#today:hover {
  color: #F09D05;
}

@media screen and (max-width: 480px) {
  #contact {
    display: none;
  }

  #today {
    display: none;
  }

  #portfolio {
    display: none;
  }

  #aboutme {
    display: none;
  }
}

.logo {
  position: absolute;
  width: 5.39vw;
  height: 4.40vw;
  left: 48.2vw;
  top: 2.05vw;
  overflow: visible;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .logo {
    width: 60px;
    height: auto;
    left: 50%;
    margin-left: -30px;
  }
}

.overlay, .overlay-content, .overlay a,
.overlay .closebtn, .openbtn {
  display: none;
}

@media screen and (max-width: 480px) {
  .overlay {
    display: block;
    height: 760vw;
    width: 0;
    position: absolute;
    z-index: 99;
    top: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
}

@media screen and (max-width: 480px) {
  .overlay-content {
    display: block;
    position: relative;
    top: 30vw;
    width: 100vw;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .overlay a {
    display: block;
    padding: 7vw;
    text-decoration: none;
    font-size: 2.25rem;
    color: #818181;
    transition: 0.3s;
  }
}

@media screen and (max-width: 480px) {
  .overlay a:hover {
    color: #fff;
  }
}

@media screen and (max-width: 480px) {
  .overlay .closebtn {
    display: block;
    position: absolute;
    top: 3vw;
    left: 8vw;
    fill: #818181;
  }
}

@media screen and (max-width: 480px) {
  .overlay .closebtn:hover {
    fill: #fff;
  }
}

@media screen and (max-width: 480px) {
  .openbtn {
    display: block;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 2vw;
    left: 87vw;
    z-index: 9;
  }
}

.box {
  position: absolute;
  width: 30.78vw;
  height: 17.86vw;
  left: 35.4vw;
  top: 19.47vw;
  display: block;
}

.visit {
  position: absolute;
  width: 30.78vw;
  height: 17.86vw;
  left: 0vw;
  top: 0vw;
  border-radius: 1.15vw;
  transition: all .3s ease;
  -moz-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  opacity: 0;
  text-decoration: none;
}

.visittext {
  position: absolute;
  left: 15.5vw;
  top: 6vw;
  font-size: 1.35vw;
  color: #fff;
  width: 18.33vw;
  margin-left: -9.165vw;
  text-align: center;
}

.bg {
  background-image: url("../image/dcsyweb.png");
  background-size: cover;
}

.visit:hover {
  background: rgba(0, 0, 0, .7);
  opacity: 1;
}

@media screen and (max-width: 480px) {
  .box {
    width: 231px;
    height: 135px;
    left: 50%;
    top: 193px;
    margin-left: -115.5px;
    border-radius: 16px;
  }

  .visit {
    width: 231px;
    height: 135px;
    left: 0px;
    top: 0px;
    border-radius: 16px;
  }

  .visittext {
    position: absolute;
    margin-left: -108px;
    width: 216px;
    left: 50%;
    top: 52px;
    font-size: 12px;
  }
}

.plan {
  width: 5.34vw;
  height: 1.10vw;
  left: 60vw;
  top: 38vw;
  position: absolute;
  overflow: visible;
}

.plan:hover {
  filter: invert(0.26) sepia(0.5) saturate(6.5) hue-rotate(0deg) brightness(1);
}

.plan:active {
  filter: invert(0.26) sepia(0.5) saturate(6.5) hue-rotate(0deg) brightness(1);
}

@media screen and (max-width: 480px) {
  .plan {
    left: 60%;
    top: 332.97px;
    width: 67.14px;
    height: 18.36px;
  }
}

@media screen and (max-width: 480px) {
  .plan:hover {
    filter: invert(1) brightness(0);
  }
}

#footer {
  left: 37.8vw;
  top: 45.21vw;
  position: absolute;
  overflow: visible;
  width: 24.43vw;
  white-space: nowrap;
  text-align: center;
  font-size: 0.78vw;
  color: rgba(151, 164, 240, 1);
}

@media screen and (max-width: 480px) {
  #footer {
    top: 613px;
    left: 50vw;
    width: 247px;
    margin-left: -123.5px;
    font-size: 11px;
  }
}
