a {
	text-decoration: none;
}

.boardboxwrapper {
	max-width: 1591px;
	margin: 100px auto;
	box-sizing: border-box;
	text-align: center;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.image-box {
	display: block;
	margin-right: 20px;
	width: 520px;
}

.card {
	width: 520px;
	height: 265px;
	transform: scale(1);
	transition: all 0.3s;
	overflow: hidden;
	object-fit: cover;
	margin-bottom: 10px;
}

.card:hover {
	transform: scale(1.05);
}

.date {
	text-align: left;
	font-size: 16px;
	color: #97A4F0;
	margin-bottom: 10px;
}

.boardtext {
	text-align: left;
	font-size: 16px;
	color: #fff;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.headline {
	text-align: left;
	font-size: 26px;
	color: #fff;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-bottom: 10px;
}

@media screen and (max-width: 1588px) {
	.boardboxwrapper {
		max-width: 276px;
		margin: 120px auto;
		display: block;
	}
  article {
    margin-bottom: 20px;
  }
	.image-box {
		margin-right: 0;
		width: 276px;
	}

	.card {
		width: 276px;
		height: 140.65px;
		margin-bottom: 5px;
	}

	.date {
		margin-bottom: 8px;
	}

	.headline {
		margin-bottom: 5px;
	}
}
