.image-box {
  position: relative;
  display: inline-flex;
  width: 26vw;
  height: auto;
  left: 9vw;
  top: 21.36vw;
  margin-left: 15px;
}

.card {
  width: 27.08vw;
  height: 13.80vw;
  transform: scale(1);
  transition: all 0.3s;
  overflow: hidden;
  object-fit: cover;
}

@media screen and (max-width: 480px) {
  .image-box {
    display: block;
    width: 276px;
    height: 140.65px;
    left: 50%;
    top: 140px;
    margin-left: -138px;
    margin-bottom: 100px;
  }

  .card {
    width: 276px;
    height: 140.65px;
  }
}

.card:hover {
  transform: scale(1.05);
}

.date {
  left: 0vw;
  top: 14.5vw;
  position: absolute;
  overflow: visible;
  text-align: left;
  font-size: 0.83vw;
  color: rgba(151, 164, 240, 1);
  margin-bottom: 20vw;
}

@media screen and (max-width: 480px) {
  .date {
    left: 0vw;
    top: 150px;
    font-size: 16px;
  }
}

.boardtext {
  left: 0vw;
  top: 17.5vw;
  position: absolute;
  overflow: visible;
  text-align: left;
  font-size: 0.83vw;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 20vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 200px;
  height: 20px;
}

@media screen and (max-width: 480px) {
  .boardtext {
    left: 0vw;
    top: 190px;
    font-size: 16px;
  }
}

.headline {
  left: 0vw;
  top: 16vw;
  position: absolute;
  overflow: visible;
  text-align: left;
  font-size: 1.35vw;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 20vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 300px;
  height: 30px;
}

@media screen and (max-width: 480px) {
  .headline {
    left: 0vw;
    top: 165px;
    font-size: 26px;
  }
}

@media screen and (max-width: 480px) {
  .boardboxwrapper {
    top: 140px;
    height: 600px;
    overflow: hidden;
  }
}
