a {
	text-decoration: none;
}

.boardboxwrapper {
	max-width: 1591px;
	margin: 100px auto;
	box-sizing: border-box;
	text-align: center;
	display: flex;
}

.image-box {
	display: inline-block;
	margin-right: 20px;
	/* width: 520px; */
}

.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.card {
	width: 520px;
	height: 265px;
	transform: scale(1);
	transition: all 0.3s;
	overflow: hidden;
	object-fit: cover;
	margin-bottom: 10px;
}

.card:hover {
	transform: scale(1.03);
}

.date {
	text-align: left;
	font-size: 16px;
	color: #97A4F0;
	margin-bottom: 10px;
}

.boardtext {
	text-align: left;
	font-size: 16px;
	color: #fff;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 520px;
}

.headline {
	text-align: left;
	font-size: 26px;
	color: #fff;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-bottom: 10px;
}

@media screen and (max-width: 1640px) {
	.boardboxwrapper {
		max-width: 1024px;
		margin: 100px auto;
		box-sizing: border-box;
	}

	.image-box {
		width: 276px !important;
	}

	.card {
		width: 276px !important;
		height: 140.65px;
		margin-bottom: 5px;
		margin-right: 0px !important;
	}

	.boardtext {
		width: 276px;
		font-size: 10px;
	}

	.date {
		margin-bottom: 8px;
		font-size: 10px;
	}

	.headline {
		margin-bottom: 5px;
		width: 276px;
		font-size: 16px;
	}
}

@media screen and (max-width: 1300px) {
	.boardboxwrapper {
		margin-top: 240px;
	}
}

@media screen and (max-width: 1070px) {
	.boardboxwrapper {
		max-width: 900px;
		margin-top: 240px;
	}
}

@media screen and (max-width: 960px) {
	.boardboxwrapper {
		max-width: 280px;
		margin: 130px auto;
	}

	.image-box {
		margin: 0px auto;
		text-align: center;
	}

	.col {
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 768px) {
	.boardboxwrapper {
		margin-top: 140px;
	}
}
