.mediaViewInfo {
  --web-view-name: aboutmehistory;
  --web-view-id: aboutmehistory;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}

:root {
  --web-view-ids: aboutmehistory;
}

@font-face {
  font-family: 'Cafe24Dongdong';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Dongdong.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  max-width: 1920px;
  background: linear-gradient(to bottom, #002169, #001135);
  position: relative;
  height: auto;
  overflow: hidden;
  padding-top: 49%;
  background-repeat: no-repeat;
}

@media (max-width: 375px) {
  body {
    background: url('lightmobile.png'), linear-gradient(to bottom, #002169, #001135);
    background-position: 0% 0%;
    position: relative;
    height: 643px;
    overflow: hidden;
    padding-top: 0%;
    background-repeat: no-repeat;
  }
}

div {
  font-family: 'Cafe24Dongdong';
  font-weight: normal;
  font-style: normal;
}

#gtq1 {
  left: 30%;
  top: 60.5%;
  position: absolute;
  overflow: visible;
  white-space: nowrap;
  text-align: center;
  font-size: 1.625rem;
  color: rgba(255, 255, 255, 1);
  animation: effect2 .7s cubic-bezier(.215, .61, .355, 1.000) both
}

@keyframes effect2 {
  0% {
    letter-spacing: -.5em;
    opacity: 0
  }

  40% {
    opacity: .6
  }

  100% {
    opacity: 1
  }
}

@media (max-width: 375px) {
  #gtq1 {
    transform: translate(40%, -400%);
    font-size: 100%;
  }
}

#gtq2 {
  left: 45.2%;
  top: 60.5%;
  position: absolute;
  overflow: visible;
  white-space: nowrap;
  text-align: center;
  font-size: 1.625rem;
  color: rgba(255, 255, 255, 1);
  animation: effect2 .7s cubic-bezier(.215, .61, .355, 1.000) both
}

@keyframes effect2 {
  0% {
    letter-spacing: -.5em;
    opacity: 0
  }

  40% {
    opacity: .6
  }

  100% {
    opacity: 1
  }
}

@media (max-width: 375px) {
  #gtq2 {
    transform: translate(-30%, -200%);
    font-size: 100%;
  }
}

#career1 {
  left: 61.6%;
  top: 60.5%;
  position: absolute;
  overflow: visible;
  white-space: nowrap;
  text-align: center;
  font-size: 1.625rem;
  color: rgba(255, 255, 255, 1);
  animation: effect2 .7s cubic-bezier(.215, .61, .355, 1.000) both
}

@keyframes effect2 {
  0% {
    letter-spacing: -.5em;
    opacity: 0
  }

  40% {
    opacity: .6
  }

  100% {
    opacity: 1
  }
}

@media (max-width: 375px) {
  #career1 {
    transform: translate(-85%, 0%);
    font-size: 100%;
  }
}

#academy {
  left: 35.7%;
  top: 76.8%;
  position: absolute;
  overflow: visible;
  white-space: nowrap;
  text-align: center;
  font-size: 1.625rem;
  color: rgba(255, 255, 255, 1);
  animation: effect2 .7s cubic-bezier(.215, .61, .355, 1.000) both
}

@keyframes effect2 {
  0% {
    letter-spacing: -.5em;
    opacity: 0
  }

  40% {
    opacity: .6
  }

  100% {
    opacity: 1
  }
}

@media (max-width: 375px) {
  #academy {
    transform: translate(-10%, -100%);
    font-size: 100%;
  }
}

#career2 {
  left: 54.8%;
  top: 76.8%;
  position: absolute;
  overflow: visible;
  white-space: nowrap;
  text-align: center;
  font-size: 1.625rem;
  color: rgba(255, 255, 255, 1);
  animation: effect2 .7s cubic-bezier(.215, .61, .355, 1.000) both
}

@keyframes effect2 {
  0% {
    letter-spacing: -.5em;
    opacity: 0
  }

  40% {
    opacity: .6
  }

  100% {
    opacity: 1
  }
}

@media (max-width: 375px) {
  #career2 {
    transform: translate(-65%, 100%);
    font-size: 100%;
  }
}

#Icon_ionic-ios-arrow-round-for {
  fill: rgba(248, 234, 33, 1);
}

.Icon_ionic-ios-arrow-round-for {
  overflow: visible;
  position: absolute;
  width: 20.243px;
  height: 13.501px;
  left: 40.4%;
  top: 61%;
  transform: matrix(1, 0, 0, 1, 0, 0);
  animation: effect3 1.1s both
}

@keyframes effect3 {
  0% {
    transform: translateX(-600px);
    animation-timing-function: ease-in;
    opacity: 0
  }

  38% {
    transform: translateX(0);
    animation-timing-function: ease-out;
    opacity: 1
  }

  55% {
    transform: translateX(-68px);
    animation-timing-function: ease-in
  }

  72% {
    transform: translateX(0);
    animation-timing-function: ease-out
  }

  81% {
    transform: translateX(-28px);
    animation-timing-function: ease-in
  }

  90% {
    transform: translateX(0);
    animation-timing-function: ease-out
  }

  95% {
    transform: translateX(-8px);
    animation-timing-function: ease-in
  }

  100% {
    transform: translateX(0);
    animation-timing-function: ease-out
  }
}

@media (max-width: 375px) {
  #Icon_ionic-ios-arrow-round-for {
    transform: translate(230%, -750%) scale(0.5, 0.5) rotate(90deg);
  }
}

#Icon_ionic-ios-arrow-round-for_ep {
  fill: rgba(248, 234, 33, 1);
}

.Icon_ionic-ios-arrow-round-for_ep {
  overflow: visible;
  position: absolute;
  width: 20.243px;
  height: 13.501px;
  left: 56.9%;
  top: 61%;
  transform: matrix(1, 0, 0, 1, 0, 0);
  animation: effect3 1.1s both
}

@keyframes effect3 {
  0% {
    transform: translateX(-600px);
    animation-timing-function: ease-in;
    opacity: 0
  }

  38% {
    transform: translateX(0);
    animation-timing-function: ease-out;
    opacity: 1
  }

  55% {
    transform: translateX(-68px);
    animation-timing-function: ease-in
  }

  72% {
    transform: translateX(0);
    animation-timing-function: ease-out
  }

  81% {
    transform: translateX(-28px);
    animation-timing-function: ease-in
  }

  90% {
    transform: translateX(0);
    animation-timing-function: ease-out
  }

  95% {
    transform: translateX(-8px);
    animation-timing-function: ease-in
  }

  100% {
    transform: translateX(0);
    animation-timing-function: ease-out
  }
}

@media (max-width: 375px) {
  #Icon_ionic-ios-arrow-round-for_ep {
    transform: translate(-70%, -250%) scale(0.5, 0.5) rotate(90deg);
  }
}

#Icon_ionic-ios-arrow-round-for_eq {
  fill: rgba(248, 234, 33, 1);
}

.Icon_ionic-ios-arrow-round-for_eq {
  overflow: visible;
  position: absolute;
  width: 20.243px;
  height: 13.501px;
  left: 50%;
  top: 78%;
  transform: matrix(1, 0, 0, 1, 0, 0);
  animation: effect3 1.1s both
}

@keyframes effect3 {
  0% {
    transform: translateX(-600px);
    animation-timing-function: ease-in;
    opacity: 0
  }

  38% {
    transform: translateX(0);
    animation-timing-function: ease-out;
    opacity: 1
  }

  55% {
    transform: translateX(-68px);
    animation-timing-function: ease-in
  }

  72% {
    transform: translateX(0);
    animation-timing-function: ease-out
  }

  81% {
    transform: translateX(-28px);
    animation-timing-function: ease-in
  }

  90% {
    transform: translateX(0);
    animation-timing-function: ease-out
  }

  95% {
    transform: translateX(-8px);
    animation-timing-function: ease-in
  }

  100% {
    transform: translateX(0);
    animation-timing-function: ease-out
  }
}

@media (max-width: 375px) {
  #Icon_ionic-ios-arrow-round-for_eq {
    transform: translate(40%, -550%) scale(0.5, 0.5) rotate(90deg);
  }
}

#Icon_ionic-ios-arrow-round-for_er {
  fill: rgba(248, 234, 33, 1);
}

.Icon_ionic-ios-arrow-round-for_er {
  overflow: visible;
  position: absolute;
  width: 20.243px;
  height: 13.501px;
  left: 30.9%;
  top: 78%;
  transform: matrix(1, 0, 0, 1, 0, 0);
  animation: effect3 1.1s both
}

@keyframes effect3 {
  0% {
    transform: translateX(-600px);
    animation-timing-function: ease-in;
    opacity: 0
  }

  38% {
    transform: translateX(0);
    animation-timing-function: ease-out;
    opacity: 1
  }

  55% {
    transform: translateX(-68px);
    animation-timing-function: ease-in
  }

  72% {
    transform: translateX(0);
    animation-timing-function: ease-out
  }

  81% {
    transform: translateX(-28px);
    animation-timing-function: ease-in
  }

  90% {
    transform: translateX(0);
    animation-timing-function: ease-out
  }

  95% {
    transform: translateX(-8px);
    animation-timing-function: ease-in
  }

  100% {
    transform: translateX(0);
    animation-timing-function: ease-out
  }
}

@media (max-width: 375px) {
  #Icon_ionic-ios-arrow-round-for_er {
    transform: translate(400%, 10%) scale(0.5, 0.5) rotate(90deg);
  }
}

#pa1 {
  fill: rgba(248, 234, 33, 1);
}

.pa1 {
  position: absolute;
  overflow: visible;
  width: 9.2px;
  height: 9.2px;
  left: 15.3%;
  top: 38.4%;
}

@media (max-width: 375px) {
  .pa1 {
    display: none;
  }
}

#pa2 {
  fill: rgba(248, 234, 33, 1);
}

.pa2 {
  position: absolute;
  overflow: visible;
  width: 9.2px;
  height: 9.2px;
  left: 88.9%;
  top: 49.2%;
}

@media (max-width: 375px) {
  .pa2 {
    display: none;
  }
}

#pa3 {
  fill: rgba(248, 234, 33, 1);
}

.pa3 {
  position: absolute;
  overflow: visible;
  width: 28px;
  height: 28px;
  left: 12.9%;
  top: 63.6%;
}

@media (max-width: 375px) {
  .pa3 {
    display: none;
  }
}

#pa4 {
  fill: rgba(248, 234, 33, 1);
}

.pa4 {
  position: absolute;
  overflow: visible;
  width: 28px;
  height: 28px;
  left: 83.3%;
  top: 37.8%;
}

@media (max-width: 375px) {
  .pa4 {
    display: none;
  }
}

#pa5 {
  fill: rgba(248, 234, 33, 1);
}

.pa5 {
  position: absolute;
  overflow: visible;
  width: 18.8px;
  height: 18.8px;
  left: 10.7%;
  top: 43%;
}

@media (max-width: 375px) {
  .pa5 {
    display: none;
  }
}

#pa6 {
  fill: rgba(248, 234, 33, 1);
}

.pa6 {
  position: absolute;
  overflow: visible;
  width: 18.8px;
  height: 18.8px;
  left: 84.7%;
  top: 63.6%;
}

@media (max-width: 375px) {
  .pa6 {
    display: none;
  }
}

.light {
  position: absolute;
  width: 100%;
  height: auto;
  left: 0.9%;
  top: -5.1%;
  overflow: visible;
  display: block;
}

@media (max-width: 375px) {
  .light {
    display: none;
  }
}

#aboutme {
  left: 36.5%;
  top: 27.7%;
  position: absolute;
  text-align: center;
  text-decoration: none;
  font-size: 1.875rem;
  color: #fff;
  cursor: pointer;
}

#aboutme:hover {
  color: #F09D05;
}

#portfolio {
  left: 47.5%;
  top: 27.7%;
  position: absolute;
  text-align: center;
  text-decoration: none;
  font-size: 1.875rem;
  color: #fff;
  cursor: pointer;
}

#portfolio:hover {
  color: #F09D05;
}

#contact {
  left: 58.5%;
  top: 27.7%;
  position: absolute;
  text-align: center;
  text-decoration: none;
  font-size: 1.875rem;
  color: #fff;
  cursor: pointer;
}

#contact:hover {
  color: #F09D05;
}

#today {
  left: 68.8%;
  top: 27.7%;
  position: absolute;
  text-align: center;
  text-decoration: none;
  font-size: 1.875rem;
  color: #fff;
  cursor: pointer;
}

#today:hover {
  color: #F09D05;
}

@media (max-width: 375px) {
  #contact {
    display: none;
  }

  #today {
    display: none;
  }

  #portfolio {
    display: none;
  }

  #aboutme {
    display: none;
  }
}

.logo {
  position: absolute;
  height: auto;
  width: 103.4px;
  height: 84.51px;
  left: 48.2%;
  top: 4.2%;
  overflow: visible;
  cursor: pointer;
}

@media (max-width: 375px) {
  .logo {
    transform: translate(-40%, -47%) scale(0.6, 0.6);
  }
}

.overlay, .overlay-content, .overlay a,
.overlay .closebtn, .openbtn {
  display: none;
}

@media (max-width: 375px) {
  .overlay {
    display: block;
    height: 100%;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
}

@media (max-width: 375px) {
  .overlay-content {
    display: block;
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
}

@media (max-width: 375px) {
  .overlay a {
    display: block;
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    transition: 0.3s;
  }
}

@media (max-width: 375px) {
  .overlay a:hover {
    color: #fff;
  }
}

@media (max-width: 375px) {
  .overlay .closebtn {
    display: block;
    position: absolute;
    top: 3%;
    left: 8%;
    fill: #818181;
  }
}

@media (max-width: 375px) {
  .overlay .closebtn:hover {
    fill: #fff;
  }
}

@media (max-width: 375px) {
  .openbtn {
    display: block;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 2%;
    left: 87%;
  }
}

#foxsmall {
  position: absolute;
  left: 47.4%;
  top: 38%;
  overflow: visible;
}

@media (max-width: 375px) {
  #foxsmall {
    transform: translate(-38%, -100%) scale(0.6, 0.6);
  }
}

#arrow_right {
  fill: #fff;
  position: absolute;
  width: 41px;
  height: 41px;
  left: 56.8%;
  top: 43.3%;
  overflow: visible;
  cursor: pointer;
}

@media (max-width: 375px) {
  #arrow_right {
    transform: translate(100%, -250%) scale(0.5, 0.5);
  }
}

#arrow_right:hover {
  fill: #F8EA21;
}

#arrow_left {
  fill: #fff;
  position: absolute;
  width: 41px;
  height: 41px;
  left: 41.5%;
  top: 43.3%;
  overflow: visible;
  cursor: pointer;
}

@media (max-width: 375px) {
  #arrow_left {
    transform: translate(-160%, -250%) scale(0.5, 0.5);
  }
}

#arrow_left:hover {
  fill: #F8EA21;
}

#footer {
  left: 37.8%;
  top: 95%;
  position: absolute;
  overflow: visible;
  width: 469px;
  white-space: nowrap;
  text-align: center;
  font-size: 1.301rem;
  color: rgba(151, 164, 240, 1);
  display: block;
}

@media (max-width: 375px) {
  #footer {
    font-size: 50%;
    transform: translate(-39%, -5%);
  }
}
