.mediaViewInfo {
  --web-view-name: aboutmeskills;
  --web-view-id: aboutmeskills;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}

:root {
  --web-view-ids: aboutmeskills;
}

@font-face {
    font-family: 'Cafe24Dongdong';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Dongdong.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  margin: 0;
  max-width: 1920px;
  background: linear-gradient(to bottom, #002169, #001135);
  position: relative;
  height: auto;
  overflow: hidden;
  padding-top: 49%;
  background-repeat: no-repeat;
}

@media (max-width: 375px) {
  body {
    background: url('lightmobile.png'), linear-gradient(to bottom, #002169, #001135);
    background-position: 0% 0%;
    position: relative;
    height: 643px;
    overflow: hidden;
    padding-top: 0%;
    background-repeat: no-repeat;
  }
}

div {
  font-family: 'Cafe24Dongdong';
  font-weight: normal;
  font-style: normal;
}

#skills {
  left: 36.6%;
  top: 54.2%;
  position: absolute;
  overflow: visible;
  width: 515px;
  white-space: nowrap;
  text-align: center;
  font-size: 1.563rem;
  color: rgba(255, 255, 255, 1);
}

@media (max-width: 375px) {
  #skills {
    transform: translate(-40%, -650%);
    font-size: 100%;
  }
}

#program-dummy {
  position: absolute;
  width: 636px;
  height: 293px;
  left: 33.3%;
  top: 62.3%;
  overflow: visible;
}

@media (max-width: 375px) {
  #program-dummy {
    transform: translate(-30%, -30%);
  }
}

#photoshop {
  position: absolute;
  width: 614px;
  height: 44px;
  left: 3.5%;
  top: 0%;
  overflow: visible;
}

@media (max-width: 375px) {
  #photoshop {
    transform: translate(20%, -100%);
  }
}

#photoshoptext {
  left: 0%;
  top: 0%;
  position: absolute;
  overflow: visible;
  white-space: nowrap;
  text-align: center;
  font-size: 2.5rem;
  color: rgba(255, 255, 255, 1);
}

@media (max-width: 375px) {
  #photoshoptext {
    font-size: 1.25rem;
    transform: translate(170%, 0%);
  }
}

#pinkbg1 {
  fill: rgba(240, 99, 150, 1);
  stroke: rgba(240, 99, 150, 1);
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.pinkbg1 {
  position: absolute;
  overflow: visible;
  width: 462px;
  height: 43px;
  left: 158px;
  top: 1px;
}

@media (max-width: 375px) {
  #pinkbg1 {
    transform: translate(-37%, 60%);
    width: 248px;
    height: 30px;
  }
}

#orangestick1 {
  fill: rgba(240, 157, 5, 1);
  stroke: rgba(240, 157, 5, 1);
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.orangestick1 {
  position: absolute;
  overflow: visible;
  width: 381px;
  height: 43px;
  left: 8.2%;
  top: 0.1%;
  animation: effect4 1s cubic-bezier(.39, .575, .565, 1.000) both
}

@keyframes effect4 {
  0% {
    transform: scaleX(.4);
    transform-origin: 0 0
  }

  100% {
    transform: scaleX(1);
    transform-origin: 0 0
  }
}

@media (max-width: 375px) {
  #orangestick1 {
    transform: translate(-45%, 60%);
    width: 204px;
    height: 30px;
    animation: effect4 1s cubic-bezier(.39, .575, .565, 1.000) both
  }
}

#photoshop85 {
  left: 308px;
  top: 0px;
  position: absolute;
  overflow: visible;
  white-space: nowrap;
  text-align: center;
  font-size: 2.5rem;
  color: rgba(255, 255, 255, 1);
}

@media (max-width: 375px) {
  #photoshop85 {
    font-size: 1.25rem;
    transform: translate(-590%, 150%);
  }
}

#illust {
  position: absolute;
  width: 631px;
  height: 44px;
  left: 0.7%;
  top: 28.3%;
  overflow: visible;
}

@media (max-width: 375px) {
  #illust {
    transform: translate(20%, -100%);
  }
}

#illusttext {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  white-space: nowrap;
  font-size: 2.5rem;
  color: rgba(255, 255, 255, 1);
}

@media (max-width: 375px) {
  #illusttext {
    font-size: 1.25rem;
    transform: translate(135%, 0%);
  }
}

#pinkbg2 {
  fill: rgba(240, 99, 150, 1);
  stroke: rgba(240, 99, 150, 1);
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.pinkbg2 {
  position: absolute;
  overflow: visible;
  width: 462px;
  height: 43px;
  left: 175px;
  top: 1px;
}

@media (max-width: 375px) {
  #pinkbg2 {
    transform: translate(-37.5%, 60%);
    width: 248px;
    height: 30px;
  }
}

#orangestick2 {
  fill: rgba(240, 157, 5, 1);
  stroke: rgba(240, 157, 5, 1);
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.orangestick2 {
  position: absolute;
  overflow: visible;
  width: 422px;
  height: 43px;
  left: 175px;
  top: 1px;
  animation: effect4 2s cubic-bezier(.39, .575, .565, 1.000) both
}

@keyframes effect4 {
  0% {
    transform: scaleX(.4);
    transform-origin: 0 0
  }

  100% {
    transform: scaleX(1);
    transform-origin: 0 0
  }
}

@media (max-width: 375px) {
  #orangestick2 {
    transform: translate(-41.2%, 60%);
    width: 226px;
    height: 30px;
  }
}

#illust90 {
  left: 325px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 77px;
  white-space: nowrap;
  text-align: center;
  font-size: 2.5rem;
  color: rgba(255, 255, 255, 1);
}

@media (max-width: 375px) {
  #illust90 {
    font-size: 1.25rem;
    transform: translate(-315%, 150%);
  }
}

#indesign {
  position: absolute;
  width: 636px;
  height: 44px;
  left: 0px;
  top: 166px;
  overflow: visible;
}

@media (max-width: 375px) {
  #indesign {
     transform: translate(20%, -100%);
  }
}

#indesigntext {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  white-space: nowrap;
  text-align: center;
  font-size: 2.5rem;
  color: rgba(255, 255, 255, 1);
}

@media (max-width: 375px) {
  #indesigntext {
    font-size: 1.25rem;
    transform: translate(130%, 0%);
  }
}

#pinkbg3 {
  fill: rgba(240, 99, 150, 1);
  stroke: rgba(240, 99, 150, 1);
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.pinkbg3 {
  position: absolute;
  overflow: visible;
  width: 462px;
  height: 43px;
  left: 180px;
  top: 1px;
}

@media (max-width: 375px) {
  #pinkbg3 {
     transform: translate(-38%, 60%);
    width: 248px;
    height: 30px;
  }
}

#orangestick3 {
  fill: rgba(240, 157, 5, 1);
  stroke: rgba(240, 157, 5, 1);
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.orangestick3 {
  position: absolute;
  overflow: visible;
  width: 349px;
  height: 43px;
  left: 180px;
  top: 1px;
  animation: effect4 3s cubic-bezier(.39, .575, .565, 1.000) both
}

@keyframes effect4 {
  0% {
    transform: scaleX(.4);
    transform-origin: 0 0
  }

  100% {
    transform: scaleX(1);
    transform-origin: 0 0
  }
}

@media (max-width: 375px) {
  #orangestick3 {
    transform: translate(-50.5%, 60%);
    width: 187px;
    height: 30px;
  }
}

#indesign75 {
  left: 331px;
  top: 0px;
  position: absolute;
  overflow: visible;
  white-space: nowrap;
  text-align: center;
  font-size: 2.5rem;
  color: rgba(255, 255, 255, 1);
}

@media (max-width: 375px) {
  #indesign75 {
    font-size: 1.25rem;
    transform: translate(-610%, 150%);
  }
}

#XD {
  position: absolute;
  width: 590px;
  height: 44px;
  left: 46px;
  top: 249px;
  overflow: visible;
}

@media (max-width: 375px) {
  #XD {
     transform: translate(20%, -100%);
  }
}

#XDtext {
  left: 0%;
  top: 0%;
  position: absolute;
  overflow: visible;
  white-space: nowrap;
  text-align: center;
  font-size: 2.5rem;
  color: rgba(255, 255, 255, 1);
}

@media (max-width: 375px) {
  #XDtext {
    font-size: 1.25rem;
    transform: translate(300%, 0%);
  }
}

#pinkbg4 {
  fill: rgba(240, 99, 150, 1);
  stroke: rgba(240, 99, 150, 1);
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.pinkbg4 {
  position: absolute;
  overflow: visible;
  width: 462px;
  height: 43px;
  left: 134px;
  top: 1px;
}

@media (max-width: 375px) {
  #pinkbg4 {
     transform: translate(-36%, 60%);
    width: 248px;
    height: 30px;
  }
}

#orangestick4 {
  fill: rgba(240, 157, 5, 1);
  stroke: rgba(240, 157, 5, 1);
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.orangestick4 {
  position: absolute;
  overflow: visible;
  width: 422px;
  height: 43px;
  left: 134px;
  top: 1px;
  animation: effect4 4s cubic-bezier(.39, .575, .565, 1.000) both
}

@keyframes effect4 {
  0% {
    transform: scaleX(.4);
    transform-origin: 0 0
  }

  100% {
    transform: scaleX(1);
    transform-origin: 0 0
  }
}

@media (max-width: 375px) {
  #orangestick4 {
    transform: translate(-39.5%, 60%);
    width: 204px;
    height: 30px;
  }
}

#XD90 {
  left: 284px;
  top: 0px;
  position: absolute;
  overflow: visible;
  white-space: nowrap;
  text-align: center;
  font-size: 2.5rem;
  color: rgba(255, 255, 255, 1);
}

@media (max-width: 375px) {
  #XD90 {
    font-size: 1.25rem;
    transform: translate(-570%, 150%);
  }
}

#pa1 {
  fill: rgba(248, 234, 33, 1);
}

.pa1 {
  position: absolute;
  overflow: visible;
  width: 9.2px;
  height: 9.2px;
  left: 15.3%;
  top: 38.4%;
}

@media (max-width: 375px) {
  .pa1 {
    display: none;
  }
}

#pa2 {
  fill: rgba(248, 234, 33, 1);
}

.pa2 {
  position: absolute;
  overflow: visible;
  width: 9.2px;
  height: 9.2px;
  left: 88.9%;
  top: 49.2%;
}

@media (max-width: 375px) {
  .pa2 {
    display: none;
  }
}

#pa3 {
  fill: rgba(248, 234, 33, 1);
}

.pa3 {
  position: absolute;
  overflow: visible;
  width: 28px;
  height: 28px;
  left: 12.9%;
  top: 63.6%;
}

@media (max-width: 375px) {
  .pa3 {
    display: none;
  }
}

#pa4 {
  fill: rgba(248, 234, 33, 1);
}

.pa4 {
  position: absolute;
  overflow: visible;
  width: 28px;
  height: 28px;
  left: 83.3%;
  top: 37.8%;
}

@media (max-width: 375px) {
  .pa4 {
    display: none;
  }
}

#pa5 {
  fill: rgba(248, 234, 33, 1);
}

.pa5 {
  position: absolute;
  overflow: visible;
  width: 18.8px;
  height: 18.8px;
  left: 10.7%;
  top: 43%;
}

@media (max-width: 375px) {
  .pa5 {
    display: none;
  }
}

#pa6 {
  fill: rgba(248, 234, 33, 1);
}

.pa6 {
  position: absolute;
  overflow: visible;
  width: 18.8px;
  height: 18.8px;
  left: 84.7%;
  top: 63.6%;
}

@media (max-width: 375px) {
  .pa6 {
    display: none;
  }
}

.light {
  position: absolute;
  width: 100%;
  height: auto;
  left: 0.9%;
  top: -5.1%;
  overflow: visible;
  display: block;
}

@media (max-width: 375px) {
  .light {
    display: none;
  }
}

#aboutme {
  left: 36.5%;
  top: 27.7%;
  position: absolute;
  text-align: center;
  font-size: 1.875rem;
  color: #00BDA4;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: aboutme.html;
  cursor: pointer;
  display: block;
}

#aboutme:hover {
  color: #F09D05;
}

#portfolio {
  left: 47.5%;
  top: 27.7%;
  position: absolute;
  text-align: center;
  font-size: 1.875rem;
  color: #fff;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: portfolio.html;
  cursor: pointer;
  display: block;
}

#portfolio:hover {
  color: #F09D05;
}

#contact {
  left: 58.5%;
  top: 27.7%;
  position: absolute;
  text-align: center;
  font-size: 1.875rem;
  color: #fff;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: contact.html;
  cursor: pointer;
  display: block;
}

#contact:hover {
  color: #F09D05;
}

#today {
  left: 68.8%;
  top: 27.7%;
  position: absolute;
  text-align: center;
  font-size: 1.875rem;
  color: #fff;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: today.html;
  cursor: pointer;
  display: block;
}

#today:hover {
  color: #F09D05;
}

@media (max-width: 375px) {
  #contact {
    display: none;
  }

  #today {
    display: none;
  }

  #portfolio {
    display: none;
  }

  #aboutme {
    display: none;
  }
}

.logo {
  position: absolute;
  height: auto;
  width: 103.4px;
  height: 84.51px;
  left: 48.2%;
  top: 4.2%;
  overflow: visible;
  cursor: pointer;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: index.html;
  display: block;
}

@media (max-width: 375px) {
  .logo {
    transform: translate(-40%, -47%) scale(0.6, 0.6);
  }
}

.overlay, .overlay-content, .overlay a,
.overlay .closebtn, .openbtn {
  display: none;
}

@media (max-width: 375px) {
  .overlay {
    display: block;
    height: 100%;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
}

@media (max-width: 375px) {
  .overlay-content {
    display: block;
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
}

@media (max-width: 375px) {
  .overlay a {
    display: block;
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    transition: 0.3s;
  }
}

@media (max-width: 375px) {
  .overlay a:hover {
    color: #fff;
  }
}

@media (max-width: 375px) {
  .overlay .closebtn {
    display: block;
    position: absolute;
    top: 3%;
    left: 8%;
    fill: #818181;
  }
}

@media (max-width: 375px) {
  .overlay .closebtn:hover {
    fill: #fff;
  }
}

@media (max-width: 375px) {
  .openbtn {
    display: block;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 2%;
    left: 87%;
  }
}

#foxsmall {
  position: absolute;
  left: 47.4%;
  top: 38%;
  overflow: visible;
}

@media (max-width: 375px) {
  #foxsmall {
    transform: translate(-38%, -100%) scale(0.6, 0.6);
  }
}

#arrow_right {
  fill: #fff;
  position: absolute;
  width: 41px;
  height: 41px;
  left: 56.8%;
  top: 43.3%;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: aboutme.html;
  cursor: pointer;
}

@media (max-width: 375px) {
  #arrow_right {
    transform: translate(100%, -250%) scale(0.5, 0.5);
  }
}

#arrow_right:hover {
  fill: #F8EA21;
}

#arrow_left {
  fill: #fff;
  position: absolute;
  width: 41px;
  height: 41px;
  left: 41.5%;
  top: 43.3%;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: aboutmehistory.html;
  cursor: pointer;
}

@media (max-width: 375px) {
  #arrow_left {
    transform: translate(-160%, -250%) scale(0.5, 0.5);
  }
}

#arrow_left:hover {
  fill: #F8EA21;
}

#footer {
  left: 37.8%;
  top: 95%;
  position: absolute;
  overflow: visible;
  width: 469px;
  white-space: nowrap;
  text-align: center;
  font-size: 1.301rem;
  color: rgba(151, 164, 240, 1);
  display: block;
}

@media (max-width: 375px) {
  #footer {
    font-size: 50%;
    transform: translate(-39%, -5%);
  }
}
