.mediaViewInfo {
  --web-view-name: index;
  --web-view-id: index;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}

:root {
  --web-view-ids: index;
}

@font-face {
  font-family: 'Cafe24Dongdong';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Dongdong.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  max-width: 1920px;
  background: linear-gradient(to bottom, #002169, #001135);
  position: relative;
  height: auto;
  padding-top: 49%;
  overflow: hidden;
  background-repeat: no-repeat;
}

@media (max-width: 414px) {
  body {
    position: relative;
    height: 736px;
    overflow: hidden;
    background-repeat: no-repeat;
    background: url('lightmobile.png'), linear-gradient(to bottom, #002169, #001135);
    }
}

div {
  font-family: 'Cafe24Dongdong';
  font-weight: normal;
  font-style: normal;
}


#pa1 {
  fill: rgba(248, 234, 33, 1);
}

.pa1 {
  position: absolute;
  overflow: visible;
  width: 9.4px;
  height: 9.4px;
  left: 12%;
  top: 31%;
  animation: circle 1s infinite alternate;
}

@keyframes circle {
  0% {
    transform: scale(1)
  }

  100% {
    transform: scale(2)
  }
}

@media (max-width: 414px) {
  #pa1 {
    transform: translate(0%, 0%) scale(0.5, 0.5);
  }
}

#pa2 {
  fill: rgba(248, 234, 33, 1);
}

.pa2 {
  position: absolute;
  overflow: visible;
  width: 9.2px;
  height: 9.2px;
  left: 58%;
  top: 39.2%;
  animation: circle 1s infinite alternate;
}

@keyframes circle {
  0% {
    transform: scale(1)
  }

  100% {
    transform: scale(2)
  }
}

@media (max-width: 414px) {
  #pa2 {
    transform: translate(0%, 0%) scale(0.5, 0.5);
  }
}

#pa3 {
  fill: rgba(248, 234, 33, 1);
}

.pa3 {
  position: absolute;
  width: 9.2px;
  height: 9.2px;
  left: 91%;
  top: 31%;
  animation: circle 1s infinite alternate;
}

@keyframes circle {
  0% {
    transform: scale(1)
  }

  100% {
    transform: scale(2)
  }
}

@media (max-width: 414px) {
  #pa3 {
    transform: translate(0%, 0%) scale(0.5, 0.5);
  }
}

#pa4 {
  fill: rgba(248, 234, 33, 1);
}

.pa4 {
  position: absolute;
  width: 27.8px;
  height: 27.8px;
  left: 16%;
  top: 43%;
  animation: circle 1s infinite alternate;
}

@media (max-width: 414px) {
  #pa4 {
    transform: translate(0%, 0%) scale(0.5, 0.5);
  }
}

@keyframes circle {
  0% {
    transform: scale(1)
  }

  100% {
    transform: scale(2)
  }
}

#pa5 {
  fill: rgba(248, 234, 33, 1);
}

.pa5 {
  position: absolute;
  width: 28px;
  height: 28px;
  left: 53%;
  top: 40.6%;
  animation: circle 1s infinite alternate;
}

@media (max-width: 414px) {
  #pa5 {
    transform: translate(0%, 0%) scale(0.5, 0.5);
  }
}

@keyframes circle {
  0% {
    transform: scale(1)
  }

  100% {
    transform: scale(2)
  }
}

#pa6 {
  fill: rgba(248, 234, 33, 1);
}

.pa6 {
  position: absolute;
  width: 28px;
  height: 28px;
  left: 89%;
  top: 52%;
  animation: circle 1s infinite alternate;
}

@keyframes circle {
  0% {
    transform: scale(1)
  }

  100% {
    transform: scale(2)
  }
}

@media (max-width: 414px) {
  #pa6 {
    transform: translate(0%, 0%) scale(0.5, 0.5);
  }
}

#pa7 {
  fill: rgba(248, 234, 33, 1);
}

.pa7 {
  position: absolute;
  width: 18.8px;
  height: 18.8px;
  left: 52%;
  top: 55%;
  animation: circle 1s infinite alternate;
}

@keyframes circle {
  0% {
    transform: scale(0.5)
  }

  100% {
    transform: scale(1)
  }
}

@media (max-width: 414px) {
  #pa7 {
    transform: translate(0%, 0%) scale(0.5, 0.5);
  }
}

#pa8 {
  fill: rgba(248, 234, 33, 1);
}

.pa8 {
  position: absolute;
  width: 18.8px;
  height: 18.8px;
  left: 11%;
  top: 53%;
  animation: circle 1s infinite alternate;
}

@keyframes circle {
  0% {
    transform: scale(0.5)
  }

  100% {
    transform: scale(1)
  }
}

@media (max-width: 414px) {
  #pa8 {
    transform: translate(0%, 0%) scale(0.5, 0.5);
  }
}

#pa9 {
  fill: rgba(248, 234, 33, 1);
}

.pa9 {
  position: absolute;
  width: 18.8px;
  height: 18.8px;
  left: 87%;
  top: 35%;
  animation: circle 1s infinite alternate;
}

@keyframes circle {
  0% {
    transform: scale(0.5)
  }

  100% {
    transform: scale(1)
  }
}

@media (max-width: 414px) {
  #pa9 {
    transform: translate(0%, 0%) scale(0.5, 0.5);
  }
}

#fox {
  position: absolute;
  width: 419.43px;
  height: 481.61px;
  left: 57.2%;
  top: 37.9%;
  overflow: visible;
  background-image: url('fox.png');
}

@media (max-width: 414px) {
  #fox {
    transform: translate(-55%, -10%) scale(0.6, 0.6);
  }
}

#eyer {
  position: absolute;
  width: 37.23px;
  height: 37.23px;
  left: 64%;
  top: 60%;
  overflow: visible;
  animation: blink 4s infinite;
}

@keyframes blink {

  0%,
  45%,
  55%,
  100% {
    transform: rotateX(0deg);
  }

  50% {
    transform: rotateX(80deg);
  }
}

#whiteeyer {
  fill: rgba(255, 255, 255, 1);
}

.whiteeyer {
  position: absolute;
  overflow: visible;
  width: 37.23px;
  height: 37.23px;
  left: 0px;
  top: 0px;
}

#blackeyer {
  fill: rgba(0, 0, 0, 1);
}

.blackeyer {
  position: absolute;
  overflow: visible;
  width: 27.34px;
  height: 31.67px;
  left: 0px;
  top: 3px;
}

#eyel {
  position: absolute;
  width: 37.23px;
  height: 37.23px;
  left: 28%;
  top: 60%;
  animation: blink 4s infinite;
}

@keyframes blink {

  0%,
  45%,
  55%,
  100% {
    transform: rotateX(0deg);
  }

  50% {
    transform: rotateX(80deg);
  }
}

#whiteeyel {
  fill: rgba(255, 255, 255, 1);
}

.whiteeyel {
  position: absolute;
  overflow: visible;
  width: 37.23px;
  height: 37.23px;
  left: 0px;
  top: 0px;
}

#blackeyel {
  fill: rgba(0, 0, 0, 1);
}

.blackeyel {
  position: absolute;
  overflow: visible;
  width: 27.34px;
  height: 31.67px;
  left: 10px;
  top: 3px;
}

#DREAMS {
  left: 20%;
  top: 40%;
  position: absolute;
  overflow: visible;
  text-align: center;
  font-size: 10rem;
  color: #00BDA4;
  -webkit-animation: DREAMS .8s cubic-bezier(.25, .46, .45, .94) both;
  animation: DREAMS .8s cubic-bezier(.25, .46, .45, .94) both;
}

@-webkit-keyframes DREAMS {
  0% {
    letter-spacing: -.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0
  }

  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1
  }
}

@keyframes DREAMS {
  0% {
    letter-spacing: -.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0
  }

  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1
  }
}

@media (max-width: 414px) {
  #DREAMS {
    transform: translate(-28%, -160%) scale(0.5, 0.5);
  }
}

#COME {
  left: 27.7%;
  top: 57%;
  position: absolute;
  overflow: visible;
  text-align: center;
  font-size: 6.25rem;
  color: #fff;
  -webkit-animation: COME .8s cubic-bezier(.25, .46, .45, .94) both;
  animation: COME .8s cubic-bezier(.25, .46, .45, .94) both;
}

@-webkit-keyframes COME {
  0% {
    letter-spacing: -.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0
  }

  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1
  }
}

@keyframes COME {
  0% {
    letter-spacing: -.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0
  }

  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1
  }
}

@media (max-width: 414px) {
  #COME {
    transform: translate(-15%, -300%) scale(0.5, 0.5);
  }
}

#TRUE {
  position: absolute;
  left: 22.7%;
  top: 66.3%;
  text-align: center;
  font-size: 12.188rem;
  color: #F8EA21;
  -webkit-animation: TRUE .8s cubic-bezier(.25, .46, .45, .94) both;
  animation: TRUE .8s cubic-bezier(.25, .46, .45, .94) both;
}

@-webkit-keyframes TRUE {
  0% {
    letter-spacing: -.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0
  }

  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1
  }
}

@keyframes TRUE {
  0% {
    letter-spacing: -.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0
  }

  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1
  }
}

@media (max-width: 414px) {
  #TRUE {
    transform: translate(-25%, -180%) scale(0.5, 0.5);
  }
}

.light {
  position: absolute;
  width: 100%;
  height: auto;
  left: 0.9%;
  top: -5.1%;
  overflow: visible;
  display: block;
}

@media (max-width: 414px) {
  .light {
  display: none;
  }
}

#aboutme {
  left: 36.5%;
  top: 27.7%;
  position: absolute;
  text-align: center;
  font-size: 1.875rem;
  color: #fff;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: aboutme.html;
  cursor: pointer;
}

#aboutme:hover {
  color: #F09D05;
}

#portfolio {
  left: 47.5%;
  top: 27.7%;
  position: absolute;
  text-align: center;
  font-size: 1.875rem;
  color: #fff;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: portfolio.html;
  cursor: pointer;
}

#portfolio:hover {
  color: #F09D05;
}

#contact {
  left: 58.5%;
  top: 27.7%;
  position: absolute;
  text-align: center;
  font-size: 1.875rem;
  color: #fff;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: contact.html;
  cursor: pointer;
}

#contact:hover {
  color: #F09D05;
}

#today {
  left: 68.8%;
  top: 27.7%;
  position: absolute;
  text-align: center;
  font-size: 1.875rem;
  color: #fff;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: today.html;
  cursor: pointer;
}

#today:hover {
  color: #F09D05;
}

@media (max-width: 414px) {
  #contact {
    display: none;
  }

  #today {
    display: none;
  }

  #portfolio {
    display: none;
  }

  #aboutme {
    display: none;
  }
}

.logo {
  position: absolute;
  height: auto;
  width: 103.4px;
  height: 84.51px;
  left: 48.2%;
  top: 4.2%;
  overflow: visible;
  cursor: pointer;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: index.html;
}

@media (max-width: 414px) {
  .logo {
    transform: translate(-40%, -45%) scale(0.6, 0.6);
  }
}

#footer {
  left: 37.8%;
  top: 95%;
  position: absolute;
  overflow: visible;
  width: 469px;
  white-space: nowrap;
  text-align: center;
  font-size: 1.301rem;
  color: rgba(151, 164, 240, 1);
}

@media (max-width: 414px) {
  #footer {
    font-size: 50%;
    transform: translate(-37%, -1200%);
  }
}
