.mediaViewInfo {
  --web-view-name: portfolio;
  --web-view-id: portfolio;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}

:root {
  --web-view-ids: portfolio;
}

@font-face {
  font-family: 'Cafe24Dongdong';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Dongdong.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  max-width: 1920px;
  background: linear-gradient(to bottom, #002169, #001135);
  position: relative;
  height: auto;
  overflow: hidden;
  padding-top: 49%;
  background-repeat: no-repeat;
}

@media (max-width: 375px) {
  body {
    background: url('lightmobile.png'), linear-gradient(to bottom, #002169, #001135);
    background-position: 0% 0%;
    position: relative;
    height: 643px;
    overflow: hidden;
    padding-top: 0%;
    background-repeat: no-repeat;
  }
}

div {
  font-family: 'Cafe24Dongdong';
  font-weight: normal;
  font-style: normal;
}

#pa1 {
  fill: rgba(248, 234, 33, 1);
}

.pa1 {
  position: absolute;
  overflow: visible;
  width: 9.2px;
  height: 9.2px;
  left: 15.3%;
  top: 38.4%;
}

@media (max-width: 375px) {
  .pa1 {
      display: none;
  }
}

#pa2 {
  fill: rgba(248, 234, 33, 1);
}

.pa2 {
  position: absolute;
  overflow: visible;
  width: 9.2px;
  height: 9.2px;
  left: 88.9%;
  top: 49.2%;
}

@media (max-width: 375px) {
  .pa2 {
      display: none;
  }
}

#pa3 {
  fill: rgba(248, 234, 33, 1);
}

.pa3 {
  position: absolute;
  overflow: visible;
  width: 28px;
  height: 28px;
  left: 12.9%;
  top: 63.6%;
}

@media (max-width: 375px) {
  .pa3 {
      display: none;
  }
}

#pa4 {
  fill: rgba(248, 234, 33, 1);
}

.pa4 {
  position: absolute;
  overflow: visible;
  width: 28px;
  height: 28px;
  left: 83.3%;
  top: 37.8%;
}

@media (max-width: 375px) {
  .pa4 {
      display: none;
  }
}

#pa5 {
  fill: rgba(248, 234, 33, 1);
}

.pa5 {
  position: absolute;
  overflow: visible;
  width: 18.8px;
  height: 18.8px;
  left: 10.7%;
  top: 43%;
}

@media (max-width: 375px) {
  .pa5 {
      display: none;
  }
}

#pa6 {
  fill: rgba(248, 234, 33, 1);
}

.pa6 {
  position: absolute;
  overflow: visible;
  width: 18.8px;
  height: 18.8px;
  left: 84.7%;
  top: 63.6%;
}

@media (max-width: 375px) {
  .pa6 {
      display: none;
  }
}

.light {
  position: absolute;
  width: 100%;
  height: auto;
  left: 0.9%;
  top: -5.1%;
  overflow: visible;
  display: block;
}

@media (max-width: 375px) {
  .light {
    display: none;
  }
}

#aboutme {
  left: 36.5%;
  top: 27.7%;
  position: absolute;
  text-align: center;
  font-size: 1.875rem;
  color: #fff;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: aboutme.html;
  cursor: pointer;
}

#aboutme:hover {
  color: #F09D05;
}

#portfolio {
  left: 47.5%;
  top: 27.7%;
  position: absolute;
  text-align: center;
  font-size: 1.875rem;
  color: #fff;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: portfolio.html;
  cursor: pointer;
}

#portfolio:hover {
  color: #F09D05;
}

#contact {
  left: 58.5%;
  top: 27.7%;
  position: absolute;
  text-align: center;
  font-size: 1.875rem;
  color: #fff;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: contact.html;
  cursor: pointer;
}

#contact:hover {
  color: #F09D05;
}

#today {
  left: 68.8%;
  top: 27.7%;
  position: absolute;
  text-align: center;
  font-size: 1.875rem;
  color: #fff;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: today.html;
  cursor: pointer;
}

#today:hover {
  color: #F09D05;
}

@media (max-width: 375px) {
  #contact {
    display: none;
  }

  #today {
    display: none;
  }

  #portfolio {
    display: none;
  }

  #aboutme {
    display: none;
  }
}

.logo {
  position: absolute;
  height: auto;
  width: 103.4px;
  height: 84.51px;
  left: 48.2%;
  top: 4.2%;
  overflow: visible;
  cursor: pointer;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: index.html;
}

@media (max-width: 375px) {
  .logo {
    transform: translate(-40%, -47%) scale(0.6, 0.6);
  }
}

.overlay, .overlay-content, .overlay a,
.overlay .closebtn, .openbtn {
  display: none;
}

@media (max-width: 375px) {
  .overlay {
    display: block;
    height: 100%;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
}

@media (max-width: 375px) {
  .overlay-content {
    display: block;
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
}

@media (max-width: 375px) {
  .overlay a {
    display: block;
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    transition: 0.3s;
  }
}

@media (max-width: 375px) {
  .overlay a:hover {
    color: #fff;
  }
}

@media (max-width: 375px) {
  .overlay .closebtn {
    display: block;
    position: absolute;
    top: 3%;
    left: 8%;
    fill: #818181;
  }
}

@media (max-width: 375px) {
  .overlay .closebtn:hover {
    fill: #fff;
  }
}

@media (max-width: 375px) {
  .openbtn {
    display: block;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 2%;
    left: 87%;
  }
}

.box {
  position: absolute;
  width: 591px;
  height: 343px;
  left: 35.4%;
  top: 40.5%;
  display: block;
}

@media (max-width: 375px) {
  .box {
    transform: translate(-40%, -60%) scale(0.4, 0.4);
  }
}

#visit {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0%;
  border-radius: 22px;
  transition: all .3s ease;
  -moz-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  opacity: 0;
  text-decoration: none;
}

.visittext {
  position: relative;
  padding-left: 40%;
  top: 45%;
  font-size: 1.625rem;
  color: #fff;
  text-align: center;
}

.bg {
  background-image: url("index1.html.png");
}

#visit:hover {
  position: absolute;
  overflow: visible;
  background: rgba(0, 0, 0, .7);
  opacity: 1;
}

#HANS_CAKE_Website_Renewal_Pers {
  left: 46.7%;
  top: 79%;
  width: 370px;
  position: absolute;
  overflow: visible;
  text-align: right;
  font-size: 1.625rem;
  color: rgba(255, 255, 255, 1);
}

@media (max-width: 375px) {
  #HANS_CAKE_Website_Renewal_Pers {
    transform: translate(-44%, -570%);
    width: 250px;
    font-size: 1rem;
    text-align: center;
  }
}

#heart {
  position: absolute;
  fill: transparent;
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 3px;
  overflow: visible;
  width: 20px;
  height: 20px;
  left: 36%;
  top: 79.3%;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#heart:hover {
  fill: #F06396;
  stroke-width: 0px;
}

@media (max-width: 375px) {
  #heart {
    transform: translate(-270%, -820%) scale(0.5, 0.5);
  }
}

#likes {
  left: 37.8%;
  top: 79%;
  position: absolute;
  overflow: visible;
  width: 53px;
  white-space: nowrap;
  text-align: center;
  font-size: 1.625rem;
  color: rgba(255, 255, 255, 1);
}

@media (max-width: 375px) {
  #likes {
    transform: translate(-90%, -890%);
    font-size: 1rem
  }
}

#result {
  left: 40.9%;
  top: 79%;
  position: absolute;
  overflow: visible;
  width: 53px;
  white-space: nowrap;
  text-align: center;
  font-size: 1.625rem;
  color: rgba(255, 255, 255, 1);
}

@media (max-width: 375px) {
  #result {
    transform: translate(-55%, -890%);
    font-size: 1rem
  }
}

#arrow_left {
  fill: #fff;
  position: absolute;
  width: 41px;
  height: 41px;
  left: 26.7%;
  top: 58.1%;
  overflow: visible;
}

#arrow_left:hover {
  fill: #F8EA21;
}

@media (max-width: 375px) {
  #arrow_left {
    display: none;
  }
}

#arrow_right {
  fill: #fff;
  position: absolute;
  width: 41px;
  height: 41px;
  left: 73.1%;
  top: 58.1%;
  overflow: visible;
}

#arrow_right:hover {
  fill: #F8EA21;
}

@media (max-width: 375px) {
  #arrow_right {
    display: none;
  }
}

#download {
  position: absolute;
  width: 95.92px;
  height: 26.23px;
  left: 60.9%;
  top: 86%;
  overflow: visible;
  fill: #fff;
  cursor: pointer;
}

#download:hover {
  fill: #F8EA21;
}

@media (max-width: 375px) {
  #download {
    transform: translate(-10%, -810%) scale(0.6, 0.6);
  }
}

#footer {
  left: 37.8%;
  top: 95%;
  position: absolute;
  overflow: visible;
  width: 469px;
  white-space: nowrap;
  text-align: center;
  font-size: 1.301rem;
  color: rgba(151, 164, 240, 1);
  display: block;
}

@media (max-width: 375px) {
  #footer {
    font-size: 50%;
    transform: translate(-39%, -5%);
  }
}
